{% extends 'base.html' %}

{% block content %}   

{% load crispy_forms_tags %}

<br>
<br>
<div class="row">
    <div class="col-12 col-md-6 offset-md-3">
        <div class="card">
            <div class="card-body">

                <h1>Tareas Pendintes</h1>
                <hr>

                <ul>
                    {% for tarea in tareas %}

                    <li>
                        <a href="{% url 'tarea_detalle' tarea.id %}">
                            {% if tarea.importante %}
                                <h1>{{tarea.titulo}}</h1>
                            {% else %}
                                <h3>{{tarea.titulo}}</h3>
                            {% endif %}
            
                        </a>
                        <p>{{tarea.descripcion}}</p>
                        <p>{{tarea.user.username}}</p>
                    </li>
            
                    {% endfor %}
                </ul>

            </div>

        </div>
        
    </div>
</div>            

{% endblock %}
