{% extends 'base.html' %}

{% block content %}   

    <h1>Detalle de Tareas</h1>

    <h1>{{tareas.titulo}}</h1>

    {{error}}

    <br>

    <form method="POST">
        {% csrf_token %}
        {{form.as_p}}

        <a href="{% url 'tareas' %}" class="btn btn-secondary"> Regresar </a>

        <button class="btn btn-secondary">
            Actualizar
        </button>
        
    </form> 

    <form action="{% url 'tarea_completar' tareas.id %}" method="POST">
        {% csrf_token %}

        <button class="btn btn-info">
            Tarea Realizada
        </button>

    </form>

    <form action="{% url 'tarea_eliminar' tareas.id %}" method="POST">
        {% csrf_token %}

        <button class="btn btn-danger">
            Eliminar
        </button>

    </form>
 
   
{% endblock %}
