{% extends 'base.html' %}

{% block content %}   

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.js"></script>


<div class="row">
    <div class="col-md-12">
        <div class="tile row">
            <div class="col-md-3 " style="padding: 20px;">
                <div id="external-events">
                    <h3 class="mb-4">Tareas Pendientes</h3>
                    {% for event in events %}
                      <div class="fc-event">
                          <h4>{{ event.title }}</h4>
                          <p>Desde: {{ event.start }}</p>
                          <p>Hasta: {{ event.end }}</p>
                          <hr>
                      </div>
                    {% empty %}
                      <p>No hay Tareas para mostrar</p>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-9">
                <div id="calendar" class="container" style="padding: 20px;"></div>
            </div>
            <script>
              $(document).ready(function () {
                  var calendar = $('#calendar').fullCalendar({
                      header: {
                          left: 'prev,next today',
                          center: 'title',
                          right: 'month,agendaWeek,agendaDay'
                      },
                      events: '/all_events',
                      initialView: 'dayGridMonth',
                      navLinks: true,
                      businessHours: true,
                      selectMirror: true,
                      dayMaxEvents: true,
                      selectable: true,
                      selectHelper: true,
                      editable: true,
                      eventLimit: true,
                      locale: 'es',
                      calendarSet: 'es',
                      select: function (start, end, allDay) {
                          var title = prompt("Ingrese el nombre de la Tarea o Evento");
                          if (title) {
                              var start = $.fullCalendar.formatDate(start, "Y-MM-DD HH:mm:ss");
                              var end = $.fullCalendar.formatDate(end, "Y-MM-DD HH:mm:ss");
                              $.ajax({
                                  type: "GET",
                                  url: '/add_event',
                                  data: {'title': title, 'start': start, 'end': end},
                                  dataType: "json",
                                  success: function (data) {
                                      calendar.fullCalendar('refetchEvents');
                                      alert("Se Agrego Satisfactoriamente!");
                                  },
                                  error: function (data) {
                                      alert('No se pudo agregar, Favor Verifique!!!');
                                  }
                              });
                          }
                      },
                      eventResize: function (event) {
                          var start = $.fullCalendar.formatDate(event.start, "Y-MM-DD HH:mm:ss");
                          var end = $.fullCalendar.formatDate(event.end, "Y-MM-DD HH:mm:ss");
                          var title = event.title;
                          var id = event.id;
                          $.ajax({
                              type: "GET",
                              url: '/update',
                              data: {'title': title, 'start': start, 'end': end, 'id': id},
                              dataType: "json",
                              success: function (data) {
                                  calendar.fullCalendar('refetchEvents');
                                  alert('Se Actualizo el Evento');
                              },
                              error: function (data) {
                                  alert('No se pudo Actualizar el Evento!!!');
                              }
                          });
                      },
            
                      eventDrop: function (event) {
                          var start = $.fullCalendar.formatDate(event.start, "Y-MM-DD HH:mm:ss");
                          var end = $.fullCalendar.formatDate(event.end, "Y-MM-DD HH:mm:ss");
                          var title = event.title;
                          var id = event.id;
                          $.ajax({
                              type: "GET",
                              url: '/update',
                              data: {'title': title, 'start': start, 'end': end, 'id': id},
                              dataType: "json",
                              success: function (data) {
                                  calendar.fullCalendar('refetchEvents');
                                  alert('Se Actualizo el Evento');
                              },
                              error: function (data) {
                                  alert('No se pudo Actualizar el Evento!!!');
                              }
                          });
                      },
            
                      eventClick: function (event) {
                          if (confirm("Esta Usted seguro de Eliminar este Evento?")) {
                              var id = event.id;
                              $.ajax({
                                  type: "GET",
                                  url: '/remove',
                                  data: {'id': id},
                                  dataType: "json",
                                  success: function (data) {
                                      calendar.fullCalendar('refetchEvents');
                                      alert('Evento Eliminado');
                                  },
                                  error: function (data) {
                                      alert('No se pudo Eliminar el Evento!!!');
                                  }
                              });
                          }
                      },
            
                  });
              });
            
            </script>

        </div>
    </div>
</div>


{% endblock content %}






