{% extends 'base.html' %}

{% block content %}   

    
    <div class="col-10 offset-1"> 
      <br>
      <h2>ENCUESTA NUTRICIONAL</h2>
      <hr>
      <a class="btn btn-outline-primary btn-sm" href="{% url 'nutricional_crear' %}">

        Crear Nueva Encuesta

      </a>
      <hr>
      <div class="table-responsive">
        <table class="table table-hover">
          <thead class="table-primary">
            <tr>
              <th scope="col">BENEFICIARIO</th>
              <th scope="col">PROYECTO</th>
              <th scope="col"class="text-center">FECHA</th>
              <th scope="col"class="text-center">DETALLE</th>
            </tr>
          </thead>
          <tbody>
              {% if entity %}
                  {% for nutricional in entity %}
                      <tr>
                          <td>{{nutricional}}</td>
                          <td>{{nutricional.proyecto}}</td>
                          <td class="text-center">{{nutricional.fecha | date:"d/m/Y"}}</td>
                          <td class="text-center"> <a href="#"><i class="bi bi-pencil-square"style="font-size: 1.2rem; color: blue;"></i></a> </td>
                      </tr>
                  {% endfor %}
              {% endif%}
          </tbody>
        </table>
        <div>
          {% include 'paginator.html' %}
      </div>
      </div>
    </div>
     
   
{% endblock %}
