
{% extends 'base.html' %}

{% block content %}   

    
    <div class="col-10 offset-1"> 
      <br>
      <h2><strong>ENCUESTA NUTRICIONAL</strong></h2>
      <hr>
      <div class="row">
        <div class="col">
          <a class="btn btn-outline-primary mx-2" href="{% url 'nutricional_crear' %}">
  
            Crear Nueva Encuesta
  
          </a>
        </div>
        <div class="col">
          <form action="" method="POST" class="d-flex">
            {% csrf_token %}
            <input type="search" value="{{query}}" name="searchquery" class="form-control" placeholder="Buscar cédula...">
            <button class="btn btn-success mx-2" name="search">Buscar</button>
          </form>
        </div>
      </div>
      <hr>
      <div class="table-responsive">
        <table class="table table-hover">
          <thead class="table-primary">
            <tr>
              <th scope="col">BENEFICIARIO</th>
              <th scope="col">PROYECTO</th>
              <th scope="col"class="text-center">JORNADA</th>
              <th scope="col"class="text-center">DETALLE</th>
            </tr>
          </thead>
          <tbody>
            {% if entity %}
                {% for nutricional in entity %}
                    <tr>
                        <td>{{nutricional.cedula_bef}}</td>
                        <td>{{nutricional.proyecto}}</td>
                        <td class="text-center">{{nutricional.jornada.jornada | date:"d/m/Y"}}</td>
                        <td class="text-center"> <a class="btn btn btn-outline-primary btn-sm" href="{% url 'nutricional_actualizar' nutricional.id %}"><i class="bi bi-pencil-square"></i> Detalle</a> </td>
                        
                    </tr>
                {% endfor %}
            {% endif%}
          </tbody>
        </table>
        <div>
          {% include 'paginator.html' %}
      </div>
      </div>
    </div>
     
   
{% endblock %}
