{% extends 'base.html' %}

{% block content %}   

{% load crispy_forms_tags %}

<br>
<div class="container bg-light card shadow-md p-5 shadow p-3 mb-5">
                
    <h1 class="text-center">Encuesta Nutricional</h1>
    <h5 class="text-center">Agrege los datos requerido para su registro</h5>
    <hr>
    <br>

    {{error}}
            
    <form action="{% url 'nutricional_crear' %}" method="POST">
        {% csrf_token %}

        <div class="row">
            <div class="col-6">
                <h5>{{form.cedula_bef | as_crispy_field}}</h5>
            </div>
        </div>
        <h5 class="text-center">CUESTIONARIO DIETÉTICO</h5>
        <div class="row">
            <div class="col-3">
                {{form.embarazada| as_crispy_field }}
            </div>
            <div class="col-3">
                <h5>{{form.tiempo_gestacion | as_crispy_field}}</h5>
            </div>
            <div class="col-3">
                {{form.lactante | as_crispy_field}}
            </div>
            <div class="col-3">
                <h5>{{form.tiempo_lactancia | as_crispy_field}}</h5>
            </div>
        </div>
        <hr>
        <h4 class="text-center">Responsable de la compra del mercado y la cocina </h4>
        <div class="row">
            <div class="col">
                {{form.mercado_lorealiza | as_crispy_field}}
            </div>
            <div class="col">
                {{form.cocina_lorealiza | as_crispy_field}}
            </div>
            <div class="col">
                {{form.frecuencia | as_crispy_field}}
            </div>
        </div>
        <hr>
        <h4 class="text-center">Apetito, Comidas y Meriendas  </h4>
        <div class="row">
            <div class="col">
                {{form.apetito | as_crispy_field}}
            </div>
            <div class="col">
                {{form.cuantas_comidas | as_crispy_field}}
            </div>
            <div class="col">
                {{form.meriendas | as_crispy_field}}
            </div>
        </div>
        <hr>
        <h4 class="text-center">Grupos de Alimentos</h4>
        <div class="row">
            <div class="col">
                <h4 class="text-center">Rueda de los Alimentos</h4>
                <img src="/static/img/alimentos.png" class="mx-auto d-block" alt="Suplementos nutricionales" height="230">
            </div>
            <div class="col">
                {{form.cuantos_grupos | as_crispy_field}}
            </div>

            <div class="col">
                {{form.tipo_grupos | as_crispy_field}}
            </div>

        </div>
        <hr>
        <h4 class="text-center">Frecuencia del Consumo</h4>
        <div class="row">
            <div class="col">
                {{form.cereales | as_crispy_field}}
            </div>
            <div class="col">
                {{form.vegetales | as_crispy_field}}
            </div>
            <div class="col">
                {{form.frutas | as_crispy_field}}
            </div>
            <div class="col">
                {{form.carnes | as_crispy_field}}
            </div>
            <div class="col">
                {{form.pollo | as_crispy_field}}
            </div>
            <div class="col">
                {{form.pescado | as_crispy_field}}
            </div>
            <div class="col">
                {{form.embutidos | as_crispy_field}}
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col">
                {{form.viceras | as_crispy_field}}
            </div>
            <div class="col">
                {{form.grasas | as_crispy_field}}
            </div>
            <div class="col">
                {{form.lacteos | as_crispy_field}}
            </div>
            <div class="col">
                {{form.huevos | as_crispy_field}}
            </div>
            <div class="col">
                {{form.leguminosas | as_crispy_field}}
            </div>
            <div class="col">
                {{form.tuberculos | as_crispy_field}}
            </div>
            <div class="col">
                {{form.charcuteria | as_crispy_field}}
            </div>
        </div>
        <hr>
        <h4 class="text-center">Poco consumo de Alimentos</h4>
        <div class="row">
            <div class="col">
                {{form.poco_vegelales | as_crispy_field}}
            </div>
            <div class="col">
                {{form.poco_frutas | as_crispy_field}}
            </div>
            <div class="col">
                {{form.poco_viceras | as_crispy_field}}
            </div>
        </div>
        <hr>
        <h4 class="text-center">Ayuda económica y Bonos  </h4>
        <div class="row">
            <div class="col-6">
                {{form.bonos | as_crispy_field}}
            </div>
            <div class="col-6">
                {{form.bonos_entre | as_crispy_field}}
            </div>
            <div class="col-6">
                {{form.clap | as_crispy_field}}
            </div>
            <div class="col-6">
                {{form.clap_entre | as_crispy_field}}
            </div>
            <div class="col-6">
                {{form.iglesia | as_crispy_field}}
            </div>
            <div class="col-6">
                {{form.iglesia_entre | as_crispy_field}}
            </div>
            <div class="col-6">
                {{form.familiar | as_crispy_field}}
            </div>
            <div class="col-6">
                {{form.familiar_entre | as_crispy_field}}
            </div>
            <div class="col-6">
                {{form.pensionado | as_crispy_field}}
            </div>
            <div class="col-6">
                {{form.pensionado_entre | as_crispy_field}}
            </div>
        </div>
        <hr>
        <h4 class="text-center">Actividad Deportiva</h4>
        <div class="row">
            <div class="col">
                {{form.practica_deporte | as_crispy_field}}
            </div>
            <div class="col">
                {{form.tiempo | as_crispy_field}}
            </div>
            <div class="col">
                {{form.actividad | as_crispy_field}}
            </div>
        </div>
        <hr>
        <h4 class="text-center">Medicamento o Suplemento Nutricional</h4>
        <div class="row">
            <div class="col">
                {{form.medicamento | as_crispy_field}}
            </div>
            <div class="col">
                <h5>{{form.medicamento_suplemento | as_crispy_field}}</h5>
            </div>
        </div>
        <hr>
        <h4 class="text-center">Consumo de Agua y Servicios Básicos</h4>
        <div class="row">
            <div class="col">
                {{form.agua | as_crispy_field}}
            </div>
            <div class="col">
                {{form.falla_servicio | as_crispy_field}}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{form.compra_gas | as_crispy_field}}
            </div>
            <div class="col">
                {{form.compra_agua | as_crispy_field}}
            </div>
            <div class="col">
                {{form.almacena_agua | as_crispy_field}}
            </div>
            <div class="col">
                {{form.donde_almacena | as_crispy_field}}
            </div>
        </div>
        <hr>
        <h4 class="text-center">Educación Nutricional</h4>
        <div class="row">
            <div class="col">
                {{form.conoce_grupos | as_crispy_field}}
            </div>
            <div class="col">
                {{form.conoce_calidad | as_crispy_field}}
            </div>
            <div class="col">
                {{form.conoce_desnutricion | as_crispy_field}}
            </div>
        </div>
        <hr>
        <h4 class="text-center">AEducación para Embarazadas y Lactantes</h4>
        <div class="row">
            <div class="col">
                {{form.conoce_beneficio | as_crispy_field}}
            </div>
            <div class="col">
                {{form.embarazo | as_crispy_field}}
            </div>
            <div class="col">
                {{form.lactando | as_crispy_field}}
            </div>
            <div class="col">
                {{form.desea_amamantar | as_crispy_field}}
            </div>
            <div class="col">
                {{form.dificultad_amamantar | as_crispy_field}}
            </div>
            <div class="col">
                {{form.desea_orientacion | as_crispy_field}}
            </div>
            <div class="col">
                {{form.desea_conocimiento | as_crispy_field}}
            </div>
        </div>
                    
        <br>
        <hr>

        <a href="{% url 'nutricional' %}" class="btn btn-secondary"> Regresar </a>
        &nbsp
        <button class="btn btn-primary">
            Aceptar
        </button>
            
    </form>

</div>

   
{% endblock %}
