{% extends 'base.html' %}

{% block content %}   

{% load crispy_forms_tags %}

<br>
<div class="container bg-light card shadow-md p-5 shadow p-3 mb-5">
                
    <h1 class="text-center">Encuesta Nutricional</h1>
    <h5 class="text-center">Agrege los datos requerido para su registro</h5>
    <hr>
    <br>

    {{error}}
            
    <form action="{% url 'nutricional_crear' %}" method="POST">
        {% csrf_token %}

        <div class="row">
            <div class="col-6">
                <h5>{{form.cedula_bef | as_crispy_field}}</h5>
            </div>
        </div>
        <h4 class="p-2 mb-2 bg-primary-subtle text-center">Estado de Gravidez</h4>
        <div class="row">
            <div class="col-1">
            </div>
            <div class="col-4 d-flex flex-row-reverse">
                <h4>Se encuentra Embarazada?</h4>
            </div>
            <div class="col-1">
                {{form.embarazada | as_crispy_field}}
            </div>
            <div class="col-1">
            </div>
            <div class="col-3">
                <h4>Tiempo de Gestación:</h4>
            </div>
            <div class="col-1">
                {{form.tiempo_gestacion | as_crispy_field}}
            </div>
        </div>
        <div class="row">
            <div class="col-1">
            </div>
            <div class="col-4 d-flex flex-row-reverse">
                <h4>Se encuentra Lactando?</h4>
            </div>
            <div class="col-1">
                {{form.lactante | as_crispy_field}}
            </div>
            <div class="col-1">
            </div>
            <div class="col-3">
                <h4>Tiempo Lactando:</h4>
            </div>
            <div class="col-1">
                {{form.tiempo_lactancia | as_crispy_field}}
            </div>
        </div>
        <h4 class="p-2 mb-2 bg-primary-subtle text-center">Responsable de la compra del mercado y la cocina </h4>
        <div class="row">
            <div class="col">
                {{form.mercado_lorealiza | as_crispy_field}}
            </div>

            <div class="col">
                {{form.frecuencia | as_crispy_field}}
            </div>
            <div class="col">
                {{form.cocina_lorealiza | as_crispy_field}}
            </div>

        </div>

        <h4 class="p-2 mb-2 bg-primary-subtle text-center">Apetito, Comidas y Meriendas  </h4>
        <div class="row">
            <div class="col text-center">
                {{form.apetito | as_crispy_field}}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{form.cuantas_comidas | as_crispy_field}}
            </div>
            <div class="col">
                {{form.meriendas | as_crispy_field}}
            </div>
        </div>

        <h4 class="p-2 mb-2 bg-primary-subtle text-center">Grupos de Alimentos</h4>
        <div class="row">
            <div class="col">
                <h4 class="text-center">Rueda de los Alimentos</h4>
                <img src="/static/img/alimentos.png" class="mx-auto d-block" alt="Suplementos nutricionales" height="230">
            </div>
            <div class="col">
                {{form.cuantos_grupos | as_crispy_field}}
            </div>

            <div class="col">
                {{form.tipo_grupos | as_crispy_field}}
            </div>

        </div>
 
        <h4 class="p-2 mb-2 bg-primary-subtle text-center">Frecuencia del Consumo</h4>

        <div class="row">
            <div class="col-2">
                <h4>Cereales:</h4>
            </div>
            <div class="col-10">
                {{form.cereales | as_crispy_field}}
            </div>
        </div>
        <div class="row bg-white">
            <div class="col-2">
                <h4>Vegetales:</h4>
            </div>
            <div class="col-10">
                {{form.vegetales | as_crispy_field}}
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <h4>Frutas:</h4>
            </div>
            <div class="col-10">
                {{form.frutas | as_crispy_field}}
            </div>
        </div>
        <div class="row bg-white">
            <div class="col-2">
                <h4>Carnes:</h4>
            </div>
            <div class="col-10">
                {{form.carnes | as_crispy_field}}
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <h4>Pollo:</h4>
            </div>
            <div class="col-10">
                {{form.pollo | as_crispy_field}}
            </div>
        </div>
        <div class="row bg-white">
            <div class="col-2">
                <h4>Pescado:</h4>
            </div>
            <div class="col-10">
                {{form.pescado | as_crispy_field}}
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <h4>Embutidos:</h4>
            </div>
            <div class="col-10">
                {{form.embutidos | as_crispy_field}}
            </div>
        </div>
        <div class="row bg-white">
            <div class="col-2">
                <h4>Viceras:</h4>
            </div>
            <div class="col-10">
                {{form.viceras | as_crispy_field}}
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <h4>Grasas:</h4>
            </div>
            <div class="col-10">
                {{form.grasas | as_crispy_field}}
            </div>
        </div>
        <div class="row bg-white">
            <div class="col-2">
                <h4>Lacteos:</h4>
            </div>
            <div class="col-10">
                {{form.lacteos | as_crispy_field}}
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <h4>Huevo:</h4>
            </div>
            <div class="col-10">
                {{form.huevos | as_crispy_field}}
            </div>
        </div>
        <div class="row bg-white">
            <div class="col-2">
                <h4>Leguminosas:</h4>
            </div>
            <div class="col-10">
                {{form.leguminosas | as_crispy_field}}
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <h4>Tuberculos:</h4>
            </div>
            <div class="col-10">
                {{form.tuberculos | as_crispy_field}}
            </div>
        </div>
        <div class="row bg-white">
            <div class="col-2">
                <h4>Charcuteria:</h4>
            </div>
            <div class="col-10">
                {{form.charcuteria | as_crispy_field}}
            </div>
        </div>

        <h4 class="p-2 mb-2 bg-primary-subtle text-center">Poco consumo de Alimentos</h4>
        <div class="row">
            <div class="col-12 text-center">
                {{form.poco_vegetales | as_crispy_field}}
            </div>
            <hr>
            <div class="col-12 text-center">
                {{form.poco_frutas | as_crispy_field}}
            </div>
            <hr>
            <div class="col-12 text-center">
                {{form.poco_viceras | as_crispy_field}}
            </div>
        </div>

        <h4 class="p-2 mb-2 bg-primary-subtle text-center">Ayuda económica y Bonos  </h4>
        <div class="row  justify-content-md-center">
            <div class="col-3 d-flex flex-row-reverse">
                <h5>Recibe algún Bono?</h5>
            </div>
            <div class="col-1">
                {{form.bonos | as_crispy_field}}
            </div>
            <div class="col-1">
            </div>
            <div class="col-3 d-flex flex-row-reverse">
                <h5>Periodo de Tiempo:</h5>
            </div>
            <div class="col-4">
                {{form.bonos_entre | as_crispy_field}}
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-3 d-flex flex-row-reverse">
                <h5>Recibe bolsa Clap?</h5>
            </div>
            <div class="col-1">
                {{form.clap | as_crispy_field}}
            </div>
            <div class="col-1">
            </div>
            <div class="col-3 d-flex flex-row-reverse">
                <h5>Periodo de Tiempo:</h5>
            </div>
            <div class="col-4">
                {{form.clap_entre | as_crispy_field}}
            </div>
        </div>

        <div class="row justify-content-md-center">
            <div class="col-3 d-flex flex-row-reverse">
                <h5>Recibe Pensión?</h5>
            </div>
            <div class="col-1">
                {{form.pensionado | as_crispy_field}}
            </div>
            <div class="col-1">
            </div>
            <div class="col-3 d-flex flex-row-reverse">
                <h5>Periodo de Tiempo:</h5>
            </div>
            <div class="col-4">
                {{form.pensionado_entre | as_crispy_field}}
            </div>
        </div>

        <div class="row justify-content-md-center">
            <div class="col-3 d-flex flex-row-reverse">
                <h5>Recibe Ayuda de Iglesia?</h5>
            </div>
            <div class="col-1">
                {{form.iglesia | as_crispy_field}}
            </div>
            <div class="col-1">
            </div>
            <div class="col-3 d-flex flex-row-reverse">
                <h5>Periodo de Tiempo:</h5>
            </div>
            <div class="col-4">
                {{form.iglesia_entre | as_crispy_field}}
            </div>
        </div>

        <div class="row justify-content-md-center">
            <div class="col-3 d-flex flex-row-reverse">
                <h5>Recibe Ayuda Familiar?</h5>
            </div>
            <div class="col-1">
                {{form.familiar | as_crispy_field}}
            </div>
            <div class="col-1">
            </div>
            <div class="col-3 d-flex flex-row-reverse">
                <h5>Periodo de Tiempo:</h5>
            </div>
            <div class="col-4">
                {{form.familiar_entre | as_crispy_field}}
            </div>
        </div>


        <h4 class="p-2 mb-2 bg-primary-subtle text-center">Actividad Deportiva</h4>
        <div class="row">
            <div class="col text-center">
                {{form.practica_deporte | as_crispy_field}}
            </div>
            <div class="col">
                {{form.tiempo | as_crispy_field}}
            </div>
            <div class="col">
                {{form.actividad | as_crispy_field}}
            </div>
        </div>

        <h4 class="p-2 mb-2 bg-primary-subtle text-center">Medicamento o Suplemento Nutricional</h4>
        <div class="row">
            <div class="col text-center">
                {{form.medicamento | as_crispy_field}}
            </div>
            <div class="col">
                <h5>{{form.medicamento_suplemento | as_crispy_field}}</h5>
            </div>
        </div>

        <h4 class="p-2 mb-2 bg-primary-subtle text-center">Consumo de Agua y Servicios Básicos</h4>
        <div class="row text-center">
            <div class="col">
                {{form.agua | as_crispy_field}}
            </div>
            <div class="col">
                {{form.falla_servicio | as_crispy_field}}
            </div>
        </div>
        <div class="row text-center">
            <div class="col">
                {{form.compra_gas | as_crispy_field}}
            </div>
            <div class="col">
                {{form.compra_agua | as_crispy_field}}
            </div>
            <div class="col">
                {{form.almacena_agua | as_crispy_field}}
            </div>
            <div class="col">
                {{form.donde_almacena | as_crispy_field}}
            </div>
        </div>

        <h4 class="p-2 mb-2 bg-primary-subtle text-center">Educación Nutricional</h4>
        <div class="row text-center">
            <div class="col-12">
                {{form.conoce_grupos | as_crispy_field}}
            </div>
            <div class="col-12">
                {{form.conoce_calidad | as_crispy_field}}
            </div>
            <div class="col-12">
                {{form.conoce_desnutricion | as_crispy_field}}
            </div>
        </div>

        <h4 class="p-2 mb-2 bg-primary-subtle text-center">Educación para Embarazadas y Lactantes</h4>
        <div class="row">
            <div class="col-6 d-flex flex-row-reverse">
                <h5>Conoce sobre los beneficios de la lactancia materna?</h5>
            </div>
            <div class="col-5">
                {{form.conoce_beneficio | as_crispy_field}}
            </div>
            <div class="col-6 d-flex flex-row-reverse">
                <h5>Se encuentra Embarazada?</h5>
            </div>
            <div class="col-5">
                {{form.embarazo | as_crispy_field}}
            </div>
            <div class="col-6 d-flex flex-row-reverse">
                <h5>Se encuentra Lactando?</h5>
            </div>
            <div class="col-5">
                {{form.lactando | as_crispy_field}}
            </div>
            <div class="col-6 d-flex flex-row-reverse">
                <h5>Desea amamantar a tu bebé cuando nazca?</h5>
            </div>
            <div class="col-5">
                {{form.desea_amamantar | as_crispy_field}}
            </div>
            <div class="col-6 d-flex flex-row-reverse">
                <h5>Tiene dificultad para amamantar a tu bebé?</h5>
            </div>
            <div class="col-5">
                {{form.dificultad_amamantar | as_crispy_field}}
            </div>
            <div class="col-6 d-flex flex-row-reverse">
                <h5>Desea tener orientación de como amamantar al bebé?</h5>
            </div>
            <div class="col-5">
                {{form.desea_orientacion | as_crispy_field}}
            </div>
            <div class="col-6 d-flex flex-row-reverse">
                <h5>Desearia tener más conocimiento sobre nutrición?</h5>
            </div>
            <div class="col-5">
                {{form.desea_conocimiento | as_crispy_field}}
            </div>
        </div>
                    
        <br>
        <hr>

        <a href="{% url 'nutricional' %}" class="btn btn-secondary"> Regresar </a>
        &nbsp
        <button class="btn btn-primary">
            Aceptar
        </button>
            
    </form>

</div>


{% endblock %}
