{% extends 'base.html' %}

{% block content %}   

{% load crispy_forms_tags %}

<br>
<div class="container bg-light card shadow-md p-5 shadow p-3 mb-5">
                
    <h1 class="text-center">Encuesta Nutricional</h1>
    <h5 class="text-center">Agrege los datos requerido para su registro</h5>
    <hr>
    <br>
            
    <form action="{% url 'nutricional_crear' %}" method="POST">
        {% csrf_token %}

        <div class="row d-flex justify-content-evenly">
            <div class="col-6">
                <h5>{{form.cedula_bef | as_crispy_field}}</h5>
            </div>
            <div class="col-4">
                <h5>{{form.jornada | as_crispy_field}}</h5>
            </div>
        </div>

        {% include 'nutricional_base.html' %}
                    
        <br>
        <hr>

        <a href="{% url 'nutricional' %}" class="btn btn-secondary"> Regresar </a>
        &nbsp
        <button class="btn btn-primary">
            Aceptar
        </button>
            
    </form>

</div>


{% endblock %}
