{% extends 'base.html' %}

{% block content %}   

{% load crispy_forms_tags %}

<br>
<br>
<div class="container bg-light card shadow-md p-5 shadow p-3 mb-5 form-layout">
                
    <h1 class="text-center">Registro Antropométrico</h1>
    <h5 class="text-center">Agrege los datos requerido para su registro</h5>
    <hr>


    {{error}}
    <br>
    <br>
            
    <form action="" method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="col-6">
                {{form.fecha|as_crispy_field}}
            </div>
            <div class="col">
                {{form.cedula_bef|as_crispy_field}}
            </div>
        </div>
            
        <div class="row">
            <div class="col">
                {{form.embarazo_lactando|as_crispy_field}}
            </div>
            <div class="col">
                {{form.tiempo_gestacion|as_crispy_field}}
            </div>
        </div> 
    
        <div class="row">
            <div class="col">
                {{form.peso|as_crispy_field}}
            </div>
            <div class="col">
                {{form.talla|as_crispy_field}}
             </div>
             <div class="col">
                {{form.cbi|as_crispy_field}}
            </div>
        </div> 


        <!--   #############################  OJO ###############  -->

        <button type="submit" class="btn btn-primary" action="{% url 'antrop_benef_crear' pk %}">Calculo 1</button>


        <a class="btn btn-secondary" href="{% url 'antrop_benef_crear' pk %}"> Calculo 2222</a>




        <hr>
        <div class="row justify-content-center">
            <div class="col-4">
                <P class="text-center"> <strong> IMC: </strong><h4 class="text-center">{{imc}}</h4></p>
            </div>
            <div class="col-8">
                <P class="text-center"> <strong> Diagnóstico: </strong><h4 class="text-center">{{diagnostico}}</h4></p>
            </div>
        </div> 
        <hr>

        <div class="row justify-content-center">
            <div class="col-5">
                {{form.riesgo|as_crispy_field}}
            </div>
        </div> 

        <div class="row">
            <div class="col">
                {{form.servicio|as_crispy_field}}
            </div>
            <div class="col">
                {{form.centro_hospital|as_crispy_field}}
            </div>
            <div class="col">
                {{form.observacion|as_crispy_field}}
            </div>
        </div> 




                            
        <br>
        <hr>
        <a class="btn btn-secondary" href="{% url 'beneficiario_detalle' pk %}"> Regresar </a>
        
        <button class="btn btn-primary">
            Aceptar
        </button>
    </form>

</div>

   
{% endblock %}
