{% extends 'base.html' %}

{% block content %}   

{% load crispy_forms_tags %}

    
    <div class="col-10 offset-1"> 
      <br>
      <h2><strong>BENEFICIARIOS</strong></h2>
      <hr>
      <div class="row">
        <div class="col">
          <a class="btn btn-outline-primary mx-2" href="{% url 'beneficiario_crear' %}">
  
            Crear Nuevo Beneficiario
  
          </a>
          &nbsp
          <a class="btn btn-outline-primary"class="dropdown-item" data-bs-toggle="modal" data-bs-target="#exp_beneficiario">Exportar a Excel</a>
        </div>
        <div class="col">
          <form action="" method="POST" class="d-flex">
            {% csrf_token %}
            <input type="search" value="{{query}}" name="searchquery" class="form-control" placeholder="Buscar...">
            <button class="btn btn-success mx-2" name="search">Buscar</button>
          </form>
        </div>
      </div>
      <hr>
      <div class="table-responsive">
        <table class="table table-hover">
          <thead class="table-primary">
            <tr>
              <th scope="col">PROYECTO</th>
              <th scope="col">CEDULA</th>
              <th scope="col">NOMBRE</th>
              <th scope="col">APELLIDO</th>
              <th scope="col">TELEFONO</th>
              <th scope="col"class="text-center">DETALLE</th>
            </tr>
          </thead>
          <tbody>
              {% if entity %}
                  {% for beneficiario in entity %}
                      <tr>
                          <td>{{beneficiario.proyecto}}</td>
                          <td>{{beneficiario.cedula}}</td>
                          <td>{{beneficiario.nombre}}</td>
                          <td>{{beneficiario.apellido}}</td>
                          <td>{{beneficiario.telefono}}</td>
                          <td class="text-center"> <a href="{% url 'beneficiario_detalle' beneficiario.id %}"><i class="bi bi-pencil-square"style="font-size: 1.2rem; color: blue;"></i></a> </td>
                      </tr>
                  {% endfor %}
              {% endif%}
          </tbody>
        </table>
        <div>
          {% include 'paginator.html' %}
      </div>
      </div>
    </div>


  <!-- Modal exp_Beneficiarios -->
<div class="modal fade" id="exp_beneficiario" data-bs-keyboard="false" tabindex="-1" aria-labelledby="exp_beneficiariooLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h1 class="modal-title fs-5" id="exp_beneficiarioLabel">Exportar listado de Beneficiarios de un Proyecto</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <form action="/listado_beneficiario" method="GET">
                {% csrf_token %}
                <h6>{{proyect.proyecto | as_crispy_field}}</h6>                
                <dev class="d-flex justify-content-center">
                  <button class="btn btn-success mx-2">
                    Exportar
                  </button>
                </dev>
                
              </form>
              
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          </div>
      </div>
  </div>
</div>

     
   
{% endblock %}
