{% extends 'base.html' %}

{% block content %}   

{% load crispy_forms_tags %}

<br>
<br>

<!-- ########  Detalle del Beneficiario  ##########-->
<div class="container bg-light card shadow-md p-5 shadow p-3 mb-5">

    <h1 class="text-center">Detalles del Beneficiario</h1>
    <h5 class="text-center">Información detallada del Beneficiario</h5>
    <hr>

    {{error}}
    <br>
    <div class="row">
        <div class="col">
            <P> <strong> Proyecto: </strong> {{beneficiarios.proyecto}} </p>
        </div>
    </div>
    <div class="row">

        <div class="col">
            <P> <strong> Cédula: </strong> {{beneficiarios.cedula}} </p>
        </div>
        <div class="col">
            <P> <strong> Nombre: </strong>{{beneficiarios.nombre}}</p> 
        </div>
        <div class="col">
            <P> <strong> Apellido: </strong> {{beneficiarios.apellido}} </p>
        </div>
        <div class="col">
            <P> <strong> Teléfono: </strong>{{beneficiarios.telefono}}</p>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <P> <strong> Sexo: </strong>{{beneficiarios.sexo}}</p>
        </div>
        <div class="col-4">
            <P> <strong> Fecha Nacimiento: </strong>{{beneficiarios.fecha_nac}}</p>
        </div>
        <div class="col">
            <P> <strong> Edad: </strong>{{beneficiarios.edad}}</p>
        </div>
        <div class="col">
            <P> <strong> Meses: </strong>{{beneficiarios.meses}}</p>
        </div>
        <div class="col">
            <P> <strong> Estado Civil: </strong>{{beneficiarios.estado_civil}}</p>
        </div>
    </div>
         
    <div class="row">
        <div class="col">
            <P> <strong> Grado de Instrucción: </strong>{{beneficiarios.educacion}}</p>
        </div>
        <div class="col">
            <P> <strong> Profesión: </strong>{{beneficiarios.profesion}}</p>
        </div>
        <div class="col">
            <P> <strong> Situación Laboral: </strong>{{beneficiarios.laboral}}</p>
        </div>
    </div>       

    <div class="row">
        <div class="col-5">
            <P> <strong> Correo: </strong>{{beneficiarios.correo}}</p>
        </div>
        <div class="col">
            <P> <strong> Se encuentar Embarazada: </strong>{{beneficiarios.embarazada}}</p>
        </div>
        <div class="col">
            <P> <strong> Se encuentra Lactando: </strong>{{beneficiarios.lactando}}</p>
        </div>
    </div>

    <div class="row">
        <div class="col-5">
            <P> <strong> Dirección: </strong>{{beneficiarios.direccion}}</p>
        </div>
        <div class="col">
            <P> <strong> Estado: </strong>{{beneficiarios.estado}}</p>
        </div>
        <div class="col">
            <P> <strong> Ciudad: </strong>{{beneficiarios.ciudad}}</p>
        </div>
    </div>

    <div class="row">
        <div class="col-5">
            <P> <strong> Observaciones: </strong>{{beneficiarios.observacion}}</p>
        </div>
        <div class="col">
            <P> <strong> Estatus: </strong>{{beneficiarios.estatus}}</p>
        </div>
        <div class="col">
            <P> <strong> Número de Cuenta: </strong>{{beneficiarios.numero_cuenta}}</p>
        </div>
    </div>
    
    <!-- ########  Tabla Antropometricos  ##########-->
    <h4 class="text-center">CONSULTAS ANTROPOMETRICAS</h4>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead class="table-primary">
                <tr>
                    <th scope="col">ESTADO</th>
                    <th scope="col">FECHA</th>
                    <th scope="col">PESO</th>
                    <th scope="col">TALLA</th>
                    <th scope="col">IMC</th>
                    <th scope="col">DIAGNOSTICO</th>
                    <th scope="col">DETALLE</th>
                </tr>
            </thead>
            <tbody>
                {% if antropometricos %}
                    {% for antrop in antropometricos %}
                        <tr>
                            <td>{{antrop.embarazo_lactando}}</td>
                            <td>{{antrop.fecha}}</td>
                            <td>{{antrop.peso}}</td>
                            <td>{{antrop.talla}}</td>
                            <td>{{antrop.imc}}</td>
                            <td>{{antrop.diagnostico}}</td>
                            <td> <a href="#">Editar</a> </td>
                        </tr>
                    {% endfor %}
                {% endif%}
            </tbody>
        </table>

        <!-- ########  paginador Antropometrico ##########-->
        <div class="d-flex justify-content-center">
            <ul class="pagination">
                <li class="page-item d-none d-sm-block">
                    {% if antropometricos.has_previous %}
                        <a class="page-link" href="?page={{ antropometricos.previous_page_number }}#pagtable">Anterior</a>
                    {% endif%}
                </li>
                <li class="page-item d-none d-sm-block">
                    {% if menores.has_next %}
                        <a class="page-link" href="?page={{antropometricos.next_page_number }}#pagtable">Siguiente</a>
                    {% endif%}
                </li>
            </ul>
        </div>

        <!-- ########  boton agregar Antropometrico  ##########-->
        <a class="btn btn-outline-primary btn-sm" href="{% url 'antrop_benef_crear' pk %}">

            Nuevo Control Antropométrico
    
        </a>
    </div>
    <br>
    <hr>
    <br>

    <!-- ########  Tabla Hijos  ##########-->
    <h4 class="text-center">HIJOS DEL BENEFICIARIO</h4>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead class="table-primary">
                <tr>
                    <th scope="col">PROYECTO</th>
                    <th scope="col">CEDULA</th>
                    <th scope="col">NOMBRE</th>
                    <th scope="col">APELLIDO</th>
                    <th scope="col">EDAD</th>
                    <th scope="col">MESES</th>
                    <th scope="col">DETALLE</th>
                </tr>
            </thead>
            <tbody>
                {% if menores %}
                    {% for menor in menores %}
                        <tr>
                            <td>{{menor.proyecto}}</td>
                            <td>{{menor.cedula}}</td>
                            <td>{{menor.nombre}}</td>
                            <td>{{menor.apellido}}</td>
                            <td>{{menor.edad}}</td>
                            <td>{{menor.meses}}</td>
                            <td> <a href="#">Editar</a> </td>
                        </tr>
                    {% endfor %}
                {% endif%}
            </tbody>
        </table>

        <!-- ########  paginador Menores ##########-->
        <div class="d-flex justify-content-center">
            <ul class="pagination">
                <li class="page-item d-none d-sm-block">
                    {% if menores.has_previous %}
                        <a class="page-link" href="?page={{ menores.previous_page_number }}#pagtable">Anterior</a>
                    {% endif%}
                </li>
                <li class="page-item d-none d-sm-block">
                    {% if menores.has_next %}
                        <a class="page-link" href="?page={{ menores.next_page_number }}#pagtable">Siguiente</a>
                    {% endif%}
                </li>
            </ul>
        </div>

        <!-- ########  Boton Agregar Hijo ##########-->
        <a class="btn btn-outline-primary btn-sm" href="{% url 'menor_crear' pk %}">

            Agregar Nuevo Hijo
    
        </a>

    </div>
    <br>
    <hr>
    <br>

    <!-- ########  Tabla Familiares  ##########-->
    <h4 class="text-center">GRUPO FAMILIAR</h4>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead class="table-primary">
                <tr>
                    <th scope="col">PARENTESCO</th>
                    <th scope="col">PROYECTO</th>
                    <th scope="col">CEDULA</th>
                    <th scope="col">NOMBRE</th>
                    <th scope="col">APELLIDO</th>
                    <th scope="col">TELEFONO</th>
                    <th scope="col">DETALLE</th>
                </tr>
            </thead>
            <tbody>
                {% if familias %}
                    {% for familia in familias %}
                        <tr>
                            <td>{{familia.parentesco}}</td>
                            <td>{{familia.proyecto}}</td>
                            <td>{{familia.cedula}}</td>
                            <td>{{familia.nombre}}</td>
                            <td>{{familia.apellido}}</td>
                            <td>{{familia.telefono}}</td>
                        </tr>
                    {% endfor %}
                {% endif%}
            </tbody>
        </table>

        <!-- ########  paginador Familiares ##########-->
        <div class="d-flex justify-content-center">
            <ul class="pagination">
                <li class="page-item d-none d-sm-block">
                    {% if menores.has_previous %}
                        <a class="page-link" href="?page={{ familias.previous_page_number }}#pagtable">Anterior</a>
                    {% endif%}
                </li>
                <li class="page-item d-none d-sm-block">
                    {% if menores.has_next %}
                        <a class="page-link" href="?page={{ familias.next_page_number }}#pagtable">Siguiente</a>
                    {% endif%}
                </li>
            </ul>
        </div>

        <!-- ########  Boton agregar Familiar  ##########-->
        <a class="btn btn-outline-primary btn-sm" href="{% url 'familiar_crear' pk %}">

            Agregar Nuevo Familiar
    
          </a>
    </div>

    <!-- ########  Maenu de opciones  ##########-->
    <br>
    <hr>
    <div class="container">
        <a href="{% url 'beneficiario' %}" class="btn btn-secondary"> Regresar </a>
           
        &nbsp
        <a href="{% url 'beneficiario_actualizar' pk %}" class="btn btn-primary"> Actualizar </a>
           
        &nbsp
        <a href="{% url 'beneficiario_eliminar' pk %}" role="button" class="btn btn-danger"> Eliminar </a>
        
    </div>
  

</div>


   

{% endblock %}
