{% extends 'base.html' %}

{% block content %}   

{% load crispy_forms_tags %}

<br>
<br>
<div class="container bg-light card shadow-md p-5 shadow p-3 mb-5">
                
    <h1 class="text-center">Actualización de Datos</h1>
    <h5 class="text-center">Actualice los datos del Beneficiario</h5>
    <hr>
    <br>

    {{error}}

    <form method="POST">
        {% csrf_token %}
        
        {{form | crispy }}

        <div class="container">
            <a href="{% url 'beneficiario' %}" class="btn btn-secondary"> Regresar </a>
           
            &nbsp
            <button type="submit" class="btn btn-primary"> Actualizar </button>
        </div>
                 
    </form> 



</div>


   

{% endblock %}
