{% extends 'base.html' %}

{% block content %}   

{% load crispy_forms_tags %}

<br>
<div class="container">
    <div class="container bg-light card shadow-md p-5 shadow p-3 col-md-6 offset-md-3">   
                
        <h1 class="text-center">Actualización de Datos</h1>
        <h5 class="text-center">Actualice los datos del Familiar</h5>
        <hr>
        <br>

        {{error}}
                
        <div class="container">
            <form action=" " method="POST">
                {% csrf_token %}

                <div class="row">
                    <div class="col-12 text-center">
                        <strong> BENEFICIARIO </strong>
                    </div>
                    <div class="col-12 text-center">
                        {{beneficiarios}}
                    </div>
                    <div class="col-12 text-center">
                        <br>
                        <strong> FAMILIAR </strong>
                    </div>
                </div>
                

                <div class="col">
                    {{form | crispy }}
                        
                </div>

                <br>
                <hr>
                <a class="btn btn-secondary" href="{% url 'beneficiario_detalle' pk %}"><i class="bi bi-caret-left-square-fill"></i> Regresar </a>
                &nbsp
                <button class="btn btn-info"><i class="bi bi-database-fill-up"></i>
                    Actualizar
                </button>
                &nbsp
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><i class="bi bi-trash-fill"></i>
                    Eliminar
                </button>
                               
            </form>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Eliminar Familiar</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Está seguro de Eliminar al Familiar?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="bi bi-caret-left-square-fill"></i> Cancelar</button>
                <a href="{% url 'familiar_eliminar' pk familias.id %}" role="button" class="btn btn-danger"><i class="bi bi-trash-fill"></i> Eliminar </a>
            </div>
        </div>
    </div>
</div>

   
{% endblock %}
