{% extends 'base.html' %}

{% block content %}   

{% load crispy_forms_tags %}

<br>
<br>
<div class="container bg-light card shadow-md p-5 shadow p-3 mb-5 form-layout">
                
    <h1 class="text-center">Agregar Familiar</h1>
    <h5 class="text-center">Agrege los datos requerido para su registro</h5>
    <hr>

    {{error}}
            
    <div class="tabcontent">
        <form action=" " method="POST">
            {% csrf_token %}

            <div class="row">
                <div class="col-12 text-center">
                    <strong> BENEFICIARIO </strong>
                </div>
                <div class="col-12 text-center">
                    {{beneficiarios}}
                </div>
                <div class="col-12 text-center">
                    <br>
                    <strong> FAMILIAR </strong>
                </div>
            </div>

            <div class="col">
                {{ form.parentesco | as_crispy_field }}  
                {{ form.cedula | as_crispy_field }} 
                {{ form.nombre | as_crispy_field }}
                {{ form.apellido | as_crispy_field }} 
                {{ form.sexo | as_crispy_field }} 
                {{ form.fecha_nac | as_crispy_field }}
                {{ form.estado_civil | as_crispy_field }} 
                {{ form.educacion | as_crispy_field }} 
                {{ form.profesion | as_crispy_field }} 
                {{ form.laboral | as_crispy_field }} 
                {{ form.observacion | as_crispy_field }} 
                      
            </div>

            <br>
            <hr>
            <a class="btn btn-secondary" href="{% url 'beneficiario_detalle' pk %}"> Regresar </a>
            
            <button class="btn btn-primary">
                Aceptar
            </button>
        </form>
    </div>

</div>

   
{% endblock %}
