{% extends 'base.html' %}

{% block content %}   

{% load crispy_forms_tags %}

<br>
<br>

<div class="tabcontent" id="metric">
    <form method="post">
        {% csrf_token %}

        <div class="col-12">
            <label for="">Peso: </label>
            <input type="text" name="peso" class="form-control" required placeholder="kg">
        </div>

        <div class="col-12">
            <label for="">Altura: </label>
            <input type="text" name="altura" class="form-control" required placeholder="m">
        </div>

        <button type="submit" class="btn btn-primary" action="{% url 'imc' pk %}">Calcular </button>

        <a href="{% url 'beneficiario_detalle' pk %}" class="btn btn-secondary"> Regresar </a>

    </form>

</div>
<br>
<br>

{% if imc %}
    <div class="col-md-6 col-sm-12 col-xa-12">
        <h2>Resultado</h2>
        <p> Su IMC = {{imc}} Kg/m² </p>

        {% if diagnostico == "PESO BAJO" %}
            <div class="progress-bar bg-danger" style="width:20%"><strong>PESO BAJO</strong></div>
        {%elif diagnostico == "ADECUADO" %}
        <div class="progress-bar bg-success" style="width:20%"><strong>ADECUADO</strong></div>
        {%elif diagnostico == "SOBREPESO" %}
        <div class="progress-bar bg-warning" style="width:20%"><strong>SOBREPESO</strong></div>
        {%elif diagnostico == "OBESIDAD" %}
        <div class="progress-bar bg-danger" style="width:20%"><strong>OBESIDAD</strong></div>
        {% endif %}
    </div>
{% endif %}

{% endblock %}