{% extends 'base.html' %}

{% block content %}   

{% load crispy_forms_tags %}

<br>
<div class="container bg-light card shadow-md p-5 shadow p-3 mb-5 form-layout">
                
    <h1 class="text-center">Registro Antropométrico</h1>
    <h5 class="text-center">Agrege los datos requerido para su registro</h5>
    <hr>


    {{error}}


    <div class="tabcontent" id="metric">

            <div class="row">

                <div class="col">
                    <P> <strong> Cédula: </strong> {{beneficiarios.cedula}} </p>
                </div>
                <div class="col">
                    <P> <strong> Nombre: </strong>{{beneficiarios.nombre}}</p> 
                </div>
                <div class="col">
                    <P> <strong> Apellido: </strong> {{beneficiarios.apellido}} </p>
                </div>
            </div>

            {% if beneficiarios.embarazada == "SI" %}
                <div class="row">
                    <div class="col-8">
                        <P> <strong> Tiempo del Embarazo: </strong> {{imc_beneficiarios.tiempo_gestacion}} Semanas </p>
                    </div>
                </div> 
         
            {% elif beneficiarios.lactando == "SI" %}
                <div class="row">
                    <div class="col-8">
                        <P> <strong> Tiempo Lactando: </strong> {{imc_beneficiarios.tiempo_gestacion}} Meses</p>
                    </div>
                </div> 

            {% endif %}
            <div class="row">
                <div class="col-4">
                    <P> <strong> Peso: </strong> {{imc_beneficiarios.peso}} </p>
                </div>

                <div class="col-4">
                    <P> <strong> Talla: </strong> {{imc_beneficiarios.talla}} </p>
                </div>

                <div class="col-4">
                    <P> <strong> CBI: </strong> {{imc_beneficiarios.cbi}} </p>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div id="main" style="width: 400px;height:300px;"></div>

                    <script type="text/javascript">
                        var datos = {{imc}};
                        var chartDom = document.getElementById('main');
                        var myChart = echarts.init(chartDom);
                        var option;

                        option = {
                          series: [
                            {
                              type: 'gauge',
                              startAngle: 180,
                              endAngle: 0,
                              center: ['50%', '75%'],
                              radius: '130%',
                              min: 15,
                              max: 33,
                              splitNumber: 8,
                              axisLine: {
                                lineStyle: {
                                  width: 25,
                                  color: [
                                    [0.19, '#dc3545'],
                                    [0.44, '#198754'],
                                    [0.55, '#ffc107'],
                                    [0.833, '#FF7F50'],
                                    [1, '#dc3545']
                                    
                                  ]
                                }
                              },
                              pointer: {
                                icon: 'path://M12.8,0.7l12,40.1H0.7L12.8,0.7z',
                                length: '15%',
                                width: 30,
                                offsetCenter: [0, '-60%'],
                                itemStyle: {
                                  color: 'auto'
                                }
                              },
                              axisTick: {
                                length: 12,
                                lineStyle: {
                                  color: 'auto',
                                  width: 2
                                }
                              },
                              splitLine: {
                                length: 20,
                                lineStyle: {
                                  color: 'auto',
                                  width: 5
                                }
                              },
                              axisLabel: {
                                color: '#464646',
                                fontSize: 12,
                                distance: -45,
                                rotate: 'tangential',
                                formatter: function (value) {
                                  if (value === 30) {
                                    return 'OBESIDAD';
                                  } else if (value === 28) {
                                    return 'SOBREPESO';
                                  } else if (value === 25) {
                                    return 'RIESGO DE SOBREPESO';
                                  } else if (value === 23) {
                                    return 'ADECUADO';
                                  } else if (value === 18) {
                                    return 'PESO BAJO';
                                  }
                                  return '';
                                }
                              },
                              title: {
                                offsetCenter: [0, '-10%'],
                                fontSize: 25
                              },
                              detail: {
                                fontSize: 50,
                                offsetCenter: [0, '-35%'],
                                valueAnimation: true,
                                color: 'inherit'
                              },
                              data: [
                                {
                                  value: datos,
                                  name: 'IMC Kg/m²'
                                }
                              ]
                            }
                          ]
                        };

                        option && myChart.setOption(option);

                        
                    </script>


                </div>

            </div>



    </div>

    {% if imc_beneficiarios.imc %}
        <div class="row">
            <div  class="text-center" >

                {% if imc_beneficiarios.diagnostico == "PESO BAJO" %}
                    <div class="text-bg-danger p-2"><strong>PESO BAJO</strong> </div>  
                {%elif imc_beneficiarios.diagnostico == "ADECUADO" %}
                    <div class="text-bg-success p-2"><strong>ADECUADO</strong></div>
                {%elif imc_beneficiarios.diagnostico == "RIESGO DE SOBREPESO" %}
                    <div class="text-bg-warning p-2"><strong>RIESGO DE SOBREPESO</strong></div>
                {%elif imc_beneficiarios.diagnostico == "SOBREPESO" %}
                    <div class="text-white p-2"style="background-color:#FF7F50"><strong>SOBREPESO</strong></div>
                {%elif imc_beneficiarios.diagnostico == "OBESIDAD" %}
                    <div class="text-bg-danger p-2"><strong>OBESIDAD</strong></div>
                {% endif %}
            </div>
        </div>
        <br>

        <div class="row">
            <div class="col-12">
                <P class="text-center"> <strong> Presenta Riesgo: </strong> {{imc_beneficiarios.riesgo}} </p>
            </div>

            <div class="col-4">
                <P> <strong> Servicio: </strong> {{imc_beneficiarios.servicio}} </p>
            </div>

            <div class="col-4">
                <P> <strong> Centro: </strong> {{imc_beneficiarios.centro_hospital}} </p>
            </div>

            <div class="col-4">
                <P> <strong> Observación: </strong> {{imc_beneficiarios.observacion}} </p>
            </div>
        </div>



            <!-- ########  Menu de opciones  ##########-->
        <br>
        <hr>
        <div class="container">
            <a href="{% url 'beneficiario_detalle' pk %}" class="btn btn-secondary"> Regresar </a>
            
            &nbsp
            <a href="{% url 'imc_benef_eliminar' pk imc_beneficiarios.id %}" role="button" class="btn btn-danger"> Eliminar </a>
            
        </div>

        


    {% endif %}

</div>

{% endblock %}