{% extends 'base.html' %}

{% block content %}   

{% load crispy_forms_tags %}

<br>
<div class="container bg-light card shadow-md p-5 shadow p-3 mb-5 form-layout">
                
    <h1 class="text-center">Registro Antropométrico</h1>
    <h5 class="text-center">Agrege los datos requerido para su registro</h5>
    <hr>
    <div class="tabcontent" id="metric">

      <div class="col-12 text-center">
          <strong> NOMBRE DEL MENOR EN CONSULTA</strong>
          <div class="col-12 text-center">
              {{menor_detalles}}
          </div>
          <br>
      </div>

      <div class="row">
          <div class="col-4">
              <P> <strong> Peso: </strong> {{imc_menores.peso}} Kg</p>
          </div>

          <div class="col-4">
              <P> <strong> Talla: </strong> {{imc_menores.talla}} cm</p>
          </div>

          <div class="col-4">
              <P> <strong> CBI: </strong> {{imc_menores.cbi}} cm</p>
          </div>
      </div>
      <div class="row">
          <div class="col-4">
              <P> <strong> PTR: </strong> {{imc_menores.ptr}} cm</p>
          </div>

          <div class="col-4">
              <P> <strong> PSE: </strong> {{imc_menores.pse}} cm</p>
          </div>

          <div class="col-4">
              <P> <strong> CC: </strong> {{imc_menores.cc}} cm</p>
          </div>
      </div>
      <div class="col-12 text-center">
          <h4><strong> IMC: </strong> {{imc_menores.imc}} Kg/m²</h4>
      </div>
    
  </div>

  {% if imc_menores.imc %}
      <div class="row">
          <div class="col-6">
              <div id="main" style="width: 200px;height:150px;"></div>

              <script type="text/javascript">
                  var col1 = '{{diag_peso.color1}}';
                  var col2 = '{{diag_peso.color2}}';
                  var col3 = '{{diag_peso.color3}}';
                  var col4 = '{{diag_peso.color4}}';
                  var col5 = '{{diag_peso.color5}}';
                  var datos = {{peso}};
                  var min = {{min_peso}};
                  var max = {{max_peso}};
                  var chartDom = document.getElementById('main');
                  var myChart = echarts.init(chartDom);
                  var option;

                  option = {
                      series: [
                      {
                          type: 'gauge',
                          startAngle: 180,
                          endAngle: 0,
                          center: ['50%', '75%'],
                          radius: '130%',
                           min: min,
                          max: max,
                          splitNumber: 10,
                          axisLine: {
                            lineStyle: {
                              width: 20,
                              color: [
                                  [0.1, col1],
                                  [0.2, col2],
                                  [0.3, col3],
                                  [0.4, col4],
                                  [0.5, col5],
                                  [0.6, col5],
                                  [0.7, col4],
                                  [0.8, col3],
                                  [0.9, col2],
                                  [1, col1]
                                  
                                ]  
                              }
                            },
                            pointer: {
                              icon: 'path://M12.8,0.7l12,40.1H0.7L12.8,0.7z',
                              length: '15%',
                              width: 20,
                              offsetCenter: [0, '-60%'],
                              itemStyle: {
                                color: '#464646'
                              }
                            },
                            axisTick: {
                              length: 12,
                              lineStyle: {
                                color: 'auto',
                                width: 2
                              }
                            },
                            splitLine: {
                              length: 20,
                              lineStyle: {
                                color: 'auto',
                                width: 5
                              }
                            },
                            axisLabel: {
                              color: '#464646',
                              fontSize: 12,
                              distance: -45,
                              rotate: 'tangential',
                              formatter: function (value) {
                                return '';
                              }
                            },
                            title: {
                              offsetCenter: [0, '10%'],
                              fontSize: 15
                            },
                            detail: {
                              fontSize: 30,
                              offsetCenter: [0, '-10%'],
                              valueAnimation: true,
                              color: '#464646'
                            },
                            data: [
                              {
                                value: datos,
                                name: 'Kg.'
                              }
                            ]
                          }
                        ]
                      };

                      option && myChart.setOption(option);
   
              </script>
          </div>

          <!-- ########    DIAGNOSTICO TALLA    ##########-->
        
          
          <div class="col-6">
            <div id="main2" style="width: 200px;height:150px;"></div>

            <script type="text/javascript">
                var col1 = '{{diag_talla.color1}}';
                var col2 = '{{diag_talla.color2}}';
                var col3 = '{{diag_talla.color3}}';
                var col4 = '{{diag_talla.color4}}';
                var col5 = '{{diag_talla.color5}}';
                var talla = {{talla}};
                var min = {{min_talla}};
                var max = {{max_talla}};
                var chartDom = document.getElementById('main2');
                var myChart = echarts.init(chartDom);
                var option;

                option = {
                    series: [
                    {
                        type: 'gauge',
                        startAngle: 180,
                        endAngle: 0,
                        center: ['50%', '75%'],
                        radius: '130%',
                         min: min,
                        max: max,
                        splitNumber: 10,
                        axisLine: {
                          lineStyle: {
                            width: 20,
                            color: [
                                [0.1, col1],
                                [0.2, col2],
                                [0.3, col3],
                                [0.4, col4],
                                [0.5, col5],
                                [0.6, col5],
                                [0.7, col4],
                                [0.8, col3],
                                [0.9, col2],
                                [1, col1]
                                
                              ]  
                            }
                          },
                          pointer: {
                            icon: 'path://M12.8,0.7l12,40.1H0.7L12.8,0.7z',
                            length: '15%',
                            width: 20,
                            offsetCenter: [0, '-60%'],
                            itemStyle: {
                              color: '#464646'
                            }
                          },
                          axisTick: {
                            length: 12,
                            lineStyle: {
                              color: 'auto',
                              width: 2
                            }
                          },
                          splitLine: {
                            length: 20,
                            lineStyle: {
                              color: 'auto',
                              width: 5
                            }
                          },
                          axisLabel: {
                            color: '#464646',
                            fontSize: 12,
                            distance: -45,
                            rotate: 'tangential',
                            formatter: function (value) {
                              return '';
                            }
                          },
                          title: {
                            offsetCenter: [0, '10%'],
                            fontSize: 15
                          },
                          detail: {
                            fontSize: 30,
                            offsetCenter: [0, '-10%'],
                            valueAnimation: true,
                            color: '#464646'
                          },
                          data: [
                            {
                              value: talla,
                              name: 'cm.'
                            }
                          ]
                        }
                      ]
                    };

                    option && myChart.setOption(option);
 
            </script>
        </div>
        
          <div  class="col-6 text-center" >
              <p class="text-center"><strong>DIAGN. PESO</strong></p>
                  <div class="text-white p-1"style="background-color:{{diag_peso.color5}}">{{imc_menores.diagnostico}}</div>  
          </div>
          
          <div  class="col-6 text-center" >
            <p class="text-center"><strong>DIAGN. TALLA</strong></p>
                <div class="text-white p-1"style="background-color:{{diag_talla.color5}}">{{imc_menores.diagnostico_talla}}</div>  
          </div>

      </div>
        <br>

        <form action="imc_menor_riesgo" method="POST">
            {% csrf_token %}
    
            <div class="row justify-content-center">
                <div class="col-5 text-center">
                    <label for="riesgo"><strong>Presenta Riesgo:</strong></label>
                    <select id="riesgo" name="riesgo">
                        <option value="NO" selected>NO</option>
                        <option value="SI">SI</option>
                    </select>
                </div>
            </div> 
            
            <div class="row">
                <div class="col">
                    <br>
                    <label for="servicio">Servicio:</label>
                    <textarea name="servicio" rows="6" cols="12"></textarea>
                </div>
                <div class="col">
                    <br>
                    <label for="centro_hospital">Centro:</label>
                    <textarea name="centro_hospital" rows="6" cols="12"></textarea>
                </div>
                <div class="col">
                    <br>
                    <label for="observacion">Observación:</label>
                    <textarea name="observacion" rows="6" cols="12"></textarea>
                </div>
            </div> 
            
            <br>
            <button type="submit" class="btn btn-primary" action="{% url 'menor_detalle' pk id %}">Aceptar </button>

        </form>


    {% endif %}

</div>

{% endblock %}