{% extends 'base.html' %}

{% block content %}   

{% load crispy_forms_tags %}

<br>
<div class="container bg-light card shadow-md p-5 shadow p-3 mb-5 form-layout">
                
    <h1 class="text-center">Detalle Registro Antropométrico</h1>
    <hr>


    {{error}}


    <div class="tabcontent" id="metric">

        <div class="col-12 text-center">
            <strong> NOMBRE DEL MENOR EN CONSULTA</strong>
            <div class="col-12 text-center">
                {{menor_detalles}}
            </div>
            <br>
        </div>

        <div class="row">
            <div class="col-4">
                <P> <strong> Peso: </strong> {{imc_menores.peso}} </p>
            </div>

            <div class="col-4">
                <P> <strong> Talla: </strong> {{imc_menores.talla}} </p>
            </div>

            <div class="col-4">
                <P> <strong> CBI: </strong> {{imc_menores.cbi}} </p>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <P> <strong> PTR: </strong> {{imc_menores.ptr}} </p>
            </div>

            <div class="col-4">
                <P> <strong> PSE: </strong> {{imc_menores.pse}} </p>
            </div>

            <div class="col-4">
                <P> <strong> CC: </strong> {{imc_menores.cc}} </p>
            </div>
        </div>
      
    </div>

    {% if imc_menores.imc %}
        <div class="row">
            <div  class="text-center" >
                <h2>Resultado</h2>
                <p> Su IMC = <strong>{{imc_menores.imc}} Kg/m² </strong></p>
            </div>

            <div  class="col-6 text-center" >
                <p class="text-center"><strong>DIAGN. PESO</strong></p>
                {% if imc_menores.diagnostico == "DNT AGUDA SEVERA" %}
                    <div class="text-bg-danger p-1">DNT AGUDA SEVERA</div>  
                {%elif imc_menores.diagnostico == "DNT AGUDA MODERADA" %}
                    <div class="text-white p-1"style="background-color:#FF7F50">DNT AGUDA MODERADA</div>  
                {%elif imc_menores.diagnostico == "RIESGO DNT AGUDA" %}
                    <div class="text-bg-warning p-1">RIESGO DNT AGUDA</div>  
                {%elif imc_menores.diagnostico == "PESO ADECUADO" %}
                    <div class="text-bg-success p-1">PESO ADECUADO</div>
                {%elif imc_menores.diagnostico == "RIESGO DE SOBREPESO" %}
                    <div class="text-bg-warning p-1">RIESGO DE SOBREPESO</div>
                {%elif imc_menores.diagnostico == "SOBREPESO" %}
                    <div class="text-white p-1"style="background-color:#FF7F50">SOBREPESO</div>
                {%elif imc_menores.diagnostico == "OBESIDAD" %}
                    <div class="text-bg-danger p-1">OBESIDAD</div>
                {% endif %}
            </div>
            
            <div  class="col-6 text-center" >
                <p class="text-center"><strong>DIAGN. TALLA</strong></p>
                {% if imc_menores.diagnostico_talla == "TALLA BAJA" %}
                    <div class="text-bg-danger p-1">TALLA BAJA</div>  
                {%elif imc_menores.diagnostico_talla == "RIESGO TALLA BAJA" %}
                    <div class="text-bg-warning p-1">RIESGO TALLA BAJA</div>  
                {%elif imc_menores.diagnostico_talla == "TALLA NORMAL" %}
                    <div class="text-bg-success p-1">TALLA NORMAL</div>  
                {%elif imc_menores.diagnostico_talla == "RIESGO TALLA ALTA" %}
                    <div class="text-bg-warning p-1">RIESGO TALLA ALTA</div>
                {%elif imc_menores.diagnostico_talla == "TALLA ALTA" %}
                    <div class="text-bg-info p-1">TALLA ALTA</div>
                {% endif %}
            </div>


        </div>
        <br>

        <div class="row">
            <div class="col-12">
                <P class="text-center"> <strong> Presenta Riesgo: </strong> {{imc_menores.riesgo}} </p>
            </div>

            <div class="col-4">
                <P> <strong> Servicio: </strong> {{imc_menores.servicio}} </p>
            </div>

            <div class="col-4">
                <P> <strong> Centro: </strong> {{imc_menores.centro_hospital}} </p>
            </div>

            <div class="col-4">
                <P> <strong> Observación: </strong> {{imc_menores.observacion}} </p>
            </div>
        </div>
        
            <!-- ########  Menu de opciones  ##########-->
        <br>
        <hr>
        <div class="container">
            <a href="{% url 'menor_detalle' pk beneficiarios.id %}" class="btn btn-secondary"> Regresar </a>
                
            &nbsp
            <a href="{% url 'imc_menor_eliminar' pk beneficiarios.id imc_menores.id %}" role="button" class="btn btn-danger"> Eliminar </a>
                
        </div>
    
    {% endif %}

</div>

{% endblock %}