{% extends 'base.html' %}

{% block content %}   

{% load crispy_forms_tags %}

<br>
<div class="container bg-light card shadow-md p-5 shadow p-3 mb-5 form-layout">
                
    <h1 class="text-center">Detalle Registro Antropométrico</h1>
    <hr>
    <div class="tabcontent" id="metric">

        <div class="col-12 text-center">
            <strong> NOMBRE DEL MENOR EN CONSULTA</strong>
            <div class="col-12 text-center">
                {{menor_detalles}}
            </div>
            <br>
        </div>

        <div class="row">
            <div class="col-4">
                <P> <strong> Peso: </strong> {{imc_menores.peso}} Kg</p>
            </div>

            <div class="col-4">
                <P> <strong> Talla: </strong> {{imc_menores.talla}} cm</p>
            </div>

            <div class="col-4">
                <P> <strong> CBI: </strong> {{imc_menores.cbi}} cm</p>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <P> <strong> PTR: </strong> {{imc_menores.ptr}} cm</p>
            </div>

            <div class="col-4">
                <P> <strong> PSE: </strong> {{imc_menores.pse}} cm</p>
            </div>

            <div class="col-4">
                <P> <strong> CC: </strong> {{imc_menores.cc}} cm</p>
            </div>
        </div>
      
    </div>

    {% if imc_menores.imc %}
        <div class="row">
            <div class="row">
                <div class="col-sm-6">
                    <div id="main" style="width: 400px;height:300px;"></div>

                    <script type="text/javascript">
                       //var datos = {{imc}};
                        var datos = 6;
                        var chartDom = document.getElementById('main');
                        var myChart = echarts.init(chartDom);
                        var option;

                        option = {
                          series: [
                            {
                              type: 'gauge',
                              startAngle: 180,
                              endAngle: 0,
                              center: ['50%', '75%'],
                              radius: '130%',
                              min: 5.1 - (1.436 / 2),
                              max: 8.85 + (1.436 / 2),
                              splitNumber: 7,
                              axisLine: {
                                lineStyle: {
                                  width: 25,
                                  color: [
                                    [0.1428, '#dc3545'],
                                    [0.2856, '#FF7F50'],
                                    [0.4284, '#ffc107'],
                                    [0.5712, '#198754'],
                                    [0.714, '#ffc107'],
                                    [0.8568, '#FF7F50'],
                                    [1, '#dc3545']
                                    
                                  ]
                                }
                              },
                              pointer: {
                                icon: 'path://M12.8,0.7l12,40.1H0.7L12.8,0.7z',
                                length: '15%',
                                width: 30,
                                offsetCenter: [0, '-60%'],
                                itemStyle: {
                                  color: 'auto'
                                }
                              },
                              axisTick: {
                                length: 12,
                                lineStyle: {
                                  color: 'auto',
                                  width: 2
                                }
                              },
                              splitLine: {
                                length: 20,
                                lineStyle: {
                                  color: 'auto',
                                  width: 5
                                }
                              },
                              axisLabel: {
                                color: '#464646',
                                fontSize: 12,
                                distance: -45,
                                rotate: 'tangential',
                                formatter: function (value) {
                                  return '';
                                }
                              },
                              title: {
                                offsetCenter: [0, '-10%'],
                                fontSize: 25
                              },
                              detail: {
                                fontSize: 50,
                                offsetCenter: [0, '-35%'],
                                valueAnimation: true,
                                color: 'inherit'
                              },
                              data: [
                                {
                                  value: datos,
                                  name: 'IMC Kg/m²'
                                }
                              ]
                            }
                          ]
                        };

                        option && myChart.setOption(option);

                        
                    </script>


                </div>

            </div>

            <div  class="col-6 text-center" >
                <p class="text-center"><strong>DIAGN. PESO</strong></p>
                {% if imc_menores.diagnostico == "DNT AGUDA SEVERA" %}
                    <div class="text-bg-danger p-1">DNT AGUDA SEVERA</div>  
                {%elif imc_menores.diagnostico == "DNT AGUDA MODERADA" %}
                    <div class="text-white p-1"style="background-color:#FF7F50">DNT AGUDA MODERADA</div>  
                {%elif imc_menores.diagnostico == "RIESGO DNT AGUDA" %}
                    <div class="text-bg-warning p-1">RIESGO DNT AGUDA</div>  
                {%elif imc_menores.diagnostico == "PESO ADECUADO" %}
                    <div class="text-bg-success p-1">PESO ADECUADO</div>
                {%elif imc_menores.diagnostico == "RIESGO DE SOBREPESO" %}
                    <div class="text-bg-warning p-1">RIESGO DE SOBREPESO</div>
                {%elif imc_menores.diagnostico == "SOBREPESO" %}
                    <div class="text-white p-1"style="background-color:#FF7F50">SOBREPESO</div>
                {%elif imc_menores.diagnostico == "OBESIDAD" %}
                    <div class="text-bg-danger p-1">OBESIDAD</div>
                {% endif %}
            </div>
            
            <div  class="col-6 text-center" >
                <p class="text-center"><strong>DIAGN. TALLA</strong></p>
                {% if imc_menores.diagnostico_talla == "TALLA BAJA" %}
                    <div class="text-bg-danger p-1">TALLA BAJA</div>  
                {%elif imc_menores.diagnostico_talla == "RIESGO TALLA BAJA" %}
                    <div class="text-bg-warning p-1">RIESGO TALLA BAJA</div>  
                {%elif imc_menores.diagnostico_talla == "TALLA NORMAL" %}
                    <div class="text-bg-success p-1">TALLA NORMAL</div>  
                {%elif imc_menores.diagnostico_talla == "RIESGO TALLA ALTA" %}
                    <div class="text-bg-warning p-1">RIESGO TALLA ALTA</div>
                {%elif imc_menores.diagnostico_talla == "TALLA ALTA" %}
                    <div class="text-bg-info p-1">TALLA ALTA</div>
                {% endif %}
            </div>


        </div>
        <br>

        <div class="row">
            <div class="col-12">
                <P class="text-center"> <strong> Presenta Riesgo: </strong> {{imc_menores.riesgo}} </p>
            </div>

            <div class="col-4">
                <P> <strong> Servicio: </strong> {{imc_menores.servicio}} </p>
            </div>

            <div class="col-4">
                <P> <strong> Centro: </strong> {{imc_menores.centro_hospital}} </p>
            </div>

            <div class="col-4">
                <P> <strong> Observación: </strong> {{imc_menores.observacion}} </p>
            </div>
        </div>
        
            <!-- ########  Menu de opciones  ##########-->
        <br>
        <hr>
        <div class="container">
            <a href="{% url 'menor_detalle' pk beneficiarios.id %}" class="btn btn-secondary"> Regresar </a>
                
            &nbsp
            <a href="{% url 'imc_menor_eliminar' pk beneficiarios.id imc_menores.id %}" role="button" class="btn btn-danger"> Eliminar </a>
                
        </div>
    
    {% endif %}

</div>

{% endblock %}