{% extends 'base.html' %}

{% block content %}   

{% load crispy_forms_tags %}

<br>
<div class="container">
    <div class="container bg-light card shadow-md p-5 shadow p-3 col-md-6 offset-md-3">
                    
        <h1 class="text-center">Resultado Antropométrico</h1>
        <hr>


        {{error}}


        <div class="tabcontent" id="metric">

                <div class="row">

                    <div class="col">
                        <P> <strong> Cédula: </strong> {{beneficiarios.cedula}} </p>
                    </div>
                    <div class="col">
                        <P> <strong> Nombre: </strong>{{beneficiarios.nombre}}</p> 
                    </div>
                    <div class="col">
                        <P> <strong> Apellido: </strong> {{beneficiarios.apellido}} </p>
                    </div>
                </div>

                {% if beneficiarios.embarazada == "SI" %}
                    <div class="row">
                        <div class="col-6">
                            <P> <strong> Tiempo del Embarazo: </strong> {{imc_beneficiarios.tiempo}} </p>
                        </div>
                    </div> 
            
                {% elif beneficiarios.lactando == "SI" %}
                    <div class="row">
                        <div class="col-6">
                            <P> <strong> Tiempo Lactando: </strong> {{imc_beneficiarios.tiempo}} </p>
                        </div>
                    </div> 

                {% endif %}
                <div class="row">
                    <div class="col-4">
                        <P> <strong> Peso: </strong> {{imc_beneficiarios.peso}} </p>
                    </div>

                    <div class="col-4">
                        <P> <strong> Talla: </strong> {{imc_beneficiarios.talla}} </p>
                    </div>

                    <div class="col-4">
                        <P> <strong> CBI: </strong> {{imc_beneficiarios.cbi}} </p>
                    </div>
                </div>

                {% if beneficiarios.embarazada == "SI" %}
                  <div class="col d-flex justify-content-center">
                      <div id="main0" style="width: 400px;height:300px;"></div>

                      <!-- ########    DIAGNOSTICO IMC   ##########-->

                      <script type="text/javascript">
                          var col1 = '{{diag_imc.color1}}';
                          var col2 = '{{diag_imc.color2}}';
                          var col3 = '{{diag_imc.color3}}';
                          var col4 = '{{diag_imc.color4}}';
                          var col5 = '{{diag_imc.color5}}';
                          var datos = {{imc}};
                          var min = {{min_imc}};
                          var max = {{max_imc}};
                          var chartDom = document.getElementById('main0');
                          var myChart = echarts.init(chartDom);
                          var option;

                          option = {
                              series: [
                              {
                                  type: 'gauge',
                                  startAngle: 180,
                                  endAngle: 0,
                                  center: ['50%', '75%'],
                                  radius: '130%',
                                  min: min,
                                  max: max,
                                  splitNumber: 2,
                                  axisLine: {
                                    lineStyle: {
                                      width: 30,
                                      color: [
                                          [0.1, col1],
                                          [0.2, col2],
                                          [0.3, col3],
                                          [0.4, col4],
                                          [0.5, col5],
                                          [0.6, col5],
                                          [0.7, col4],
                                          [0.8, col3],
                                          [0.9, col2],
                                          [1, col1]
                                          
                                        ]  
                                      }
                                    },
                                    pointer: {
                                      icon: 'path://M12.8,0.7l12,40.1H0.7L12.8,0.7z',
                                      length: '15%',
                                      width: 20,
                                      offsetCenter: [0, '-60%'],
                                      itemStyle: {
                                        color: '#464646'
                                      }
                                    },
                                    axisTick: {
                                      length: 8,
                                      lineStyle: {
                                        color: 'auto',
                                        width: 2
                                      }
                                    },
                                    splitLine: {
                                      length: 10,
                                      lineStyle: {
                                        color: 'auto',
                                        width: 5
                                      }
                                    },
                                    axisLabel: {
                                      color: '#464646',
                                      fontSize: 9,
                                      distance: 40,
                                      rotate: 'tangential',
                                    },
                                    title: {
                                      offsetCenter: [0, '10%'],
                                      fontSize: 25
                                    },
                                    detail: {
                                      fontSize: 50,
                                      offsetCenter: [0, '-10%'],
                                      valueAnimation: true,
                                      color: '#464646'
                                    },
                                    data: [
                                      {
                                        value: datos,
                                        name: 'IMC Kg/m²'
                                      }
                                    ]
                                  }
                                ]
                              };

                              option && myChart.setOption(option);

                      </script>
                  </div>
                {% else %}

                  <div class="row">
                      <div class="col-sm-6">
                          <div id="main" style="width: 400px;height:300px;"></div>

                          <script type="text/javascript">
                              var datos = {{imc}};
                              var chartDom = document.getElementById('main');
                              var myChart = echarts.init(chartDom);
                              var option;

                              option = {
                                series: [
                                  {
                                    type: 'gauge',
                                    startAngle: 180,
                                    endAngle: 0,
                                    center: ['50%', '75%'],
                                    radius: '130%',
                                    min: 15,
                                    max: 33,
                                    splitNumber: 4,
                                    axisLine: {
                                      lineStyle: {
                                        width: 30,
                                        color: [
                                          [0.19, '#dc3545'],
                                          [0.44, '#198754'],
                                          [0.55, '#ffc107'],
                                          [0.833, '#FF7F50'],
                                          [1, '#dc3545']
                                          
                                        ]
                                      }
                                    },
                                    pointer: {
                                      icon: 'path://M12.8,0.7l12,40.1H0.7L12.8,0.7z',
                                      length: '15%',
                                      width: 30,
                                      offsetCenter: [0, '-60%'],
                                      itemStyle: {
                                        color: 'auto'
                                      }
                                    },
                                    axisTick: {
                                      length: 12,
                                      lineStyle: {
                                        color: 'auto',
                                        width: 2
                                      }
                                    },
                                    splitLine: {
                                      length: 20,
                                      lineStyle: {
                                        color: 'auto',
                                        width: 5
                                      }
                                    },
                                    axisLabel: {
                                      color: '#464646',
                                      fontSize: 12,
                                      distance: 45,
                                      rotate: 'tangential',
                                    },
                                    title: {
                                      offsetCenter: [0, '-10%'],
                                      fontSize: 25
                                    },
                                    detail: {
                                      fontSize: 50,
                                      offsetCenter: [0, '-35%'],
                                      valueAnimation: true,
                                      color: 'inherit'
                                    },
                                    data: [
                                      {
                                        value: datos,
                                        name: 'IMC Kg/m²'
                                      }
                                    ]
                                  }
                                ]
                              };

                              option && myChart.setOption(option);

                              
                          </script>


                      </div>

                  </div>
                {% endif %}

        </div>

        {% if imc_beneficiarios.imc %}
            <div class="row d-flex justify-content-center">
                <div  class="col-8 text-center" >

                    {% if imc_beneficiarios.diagnostico == "BAJO PESO" %}
                        <div class="text-bg-danger p-2"><strong>BAJO PESO</strong> </div>  
                    {%elif imc_beneficiarios.diagnostico == "PESO ADECUADO" %}
                        <div class="text-bg-success p-2"><strong>PESO ADECUADO</strong></div>
                    {%elif imc_beneficiarios.diagnostico == "RIESGO DE SOBREPESO" %}
                        <div class="text-bg-warning p-2"><strong>RIESGO DE SOBREPESO</strong></div>
                    {%elif imc_beneficiarios.diagnostico == "SOBREPESO" %}
                        <div class="text-white p-2"style="background-color:#FF7F50"><strong>SOBREPESO</strong></div>
                    {%elif imc_beneficiarios.diagnostico == "OBESIDAD" %}
                        <div class="text-bg-danger p-2"><strong>OBESIDAD</strong></div>
                    {% endif %}
                </div>
            </div>
            <br>

            <form action="imc_benef_riesgo" method="POST">
                {% csrf_token %}
        
                <div class="row justify-content-center">
                    <div class="col-5 text-center">
                        <label for="riesgo">Presenta Riesgo:</label>
                        <select id="riesgo" name="riesgo">
                            <option value="NO" selected>NO</option>
                            <option value="SI">SI</option>
                        </select>
                    </div>
                </div> 
                
                <div class="row">
                    <div class="col">
                        <label for="servicio">Servicio:</label>
                        <textarea name="servicio" rows="6" cols="12"></textarea>
                    </div>
                    <div class="col">
                        <label for="centro_hospital">Centro:</label>
                        <textarea name="centro_hospital" rows="6" cols="12"></textarea>
                    </div>
                    <div class="col">
                        <label for="observacion">Observación:</label>
                        <textarea name="observacion" rows="6" cols="12"></textarea>
                    </div>
                </div> 
                
                <br>
                <button type="submit" class="btn btn-primary" action="{% url 'beneficiario_detalle' pk %}">Aceptar </button>

            </form>


        {% endif %}

    </div>
</div>

{% endblock %}



