{% extends 'base.html' %}

{% block content %}   

{% load crispy_forms_tags %}

<br>
<div class="container">
    <div class="container bg-light card shadow-md p-5 shadow p-3 col-md-6 offset-md-3">
                    
        <h1 class="text-center">Registro de Medicamentos / Productos</h1>
        <h5 class="text-center">Agrege los datos requerido para su registro</h5>
        <hr>

        {{error}}
                
        <div class="tabcontent">
            <form action=" " method="POST">
                {% csrf_token %}

                <div class="row">

                    <div class="col">
                        <P> <strong> Cédula: </strong> {{beneficiarios.cedula}} </p>
                    </div>
                    <div class="col">
                        <P> <strong> Nombre: </strong>{{beneficiarios.nombre}}</p> 
                    </div>
                    <div class="col">
                        <P> <strong> Apellido: </strong> {{beneficiarios.apellido}} </p>
                    </div>
                </div>
                <div class="col-12 d-flex justify-content-center text-center">
                    <h6>{{form.jornada | as_crispy_field}}</h6>
                </div>
                <div class="row">
                    <div class="col-12">
                        <h6>{{form.nombre | as_crispy_field}}</h6>
                    </div>

                    <div class="col-12">
                        <h6>{{form.descripcion | as_crispy_field}}</h6>
                    </div>

                    <div class="col-12">
                        <h6>{{form.cantidad | as_crispy_field}}</h6>
                    </div>
                </div>

                <hr>
                <a class="btn btn-secondary" href="{% url 'beneficiario_detalle' pk %}"><i class="bi bi-caret-left-square-fill"></i> Regresar </a>
                &nbsp
                <button class="btn btn-primary"><i class="bi bi-floppy-fill"></i>
                    Guardar
                </button>

            </form>

        </div>

    </div>
</div>
   
{% endblock %}
