{% extends 'base.html' %}

{% block content %}   

{% load crispy_forms_tags %}

<br>
<br>
<div class="container bg-light card shadow-md p-5 shadow p-3 mb-5 form-layout">
                
    <h1 class="text-center">Registro de Medicamentos</h1>
    <h5 class="text-center">Agrege los datos requerido para su registro</h5>
    <hr>
    <br>

    {{error}}
            
    <form action=" " method="POST">
        {% csrf_token %}

        {{form | crispy }}
                    
        <br>
        <hr>
        <a class="btn btn-secondary" href="{% url 'beneficiario_detalle' pk %}"> Regresar </a>
        
        <button class="btn btn-primary">
            Aceptar
        </button>
    </form>

</div>

   
{% endblock %}
