{% extends 'base.html' %}

{% block content %}   

{% load crispy_forms_tags %}

<br>
<br>

<!-- ########  Detalle del Menor  ##########-->
<div class="container bg-light card shadow-md p-5 shadow p-3 mb-5">

    <h1 class="text-center">Detalles del Menor</h1>
    <h5 class="text-center">Información detallada del Menor</h5>
    <hr>

    {{error}}
    <br>
    <div class="row">
        <div class="col">
            <P> <strong> Proyecto: </strong> {{menor_detalles.proyecto}} </p>
        </div>
    </div>
    <div class="row">

        <div class="col">
            <P> <strong> Cédula: </strong> {{menor_detalles.cedula}} </p>
        </div>
        <div class="col">
            <P> <strong> Nombre: </strong>{{menor_detalles.nombre}}</p> 
        </div>
        <div class="col">
            <P> <strong> Apellido: </strong> {{menor_detalles.apellido}} </p>
        </div>
        <div class="col">
            <P> <strong> Representante: </strong>{{menor_detalles.cedula_bef}}</p>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <P> <strong> Sexo: </strong>{{menor_detalles.sexo}}</p>
        </div>
        <div class="col-4">
            <P> <strong> Fecha Nacimiento: </strong>{{menor_detalles.fecha_nac}}</p>
        </div>
        <div class="col">
            <P> <strong> Edad: </strong>{{menor_detalles.edad}}</p>
        </div>
        <div class="col">
            <P> <strong> Meses: </strong>{{menor_detalles.meses}}</p>
        </div>
    </div>
         
    <div class="row">
        <div class="col">
            <P> <strong> Fecha Ingreso: </strong>{{menor_detalles.fecha_ing_proyecto}}</p>
        </div>
        <div class="col">
            <P> <strong> Observación: </strong>{{menor_detalles.observacion}}</p>
        </div>
        <div class="col">
            <P> <strong> Estatus: </strong>{{menor_detalles.estatus}}</p>
        </div>
    </div>       
    <br>
    <h5 class="text-center">Información del Control Antropométrico Actual</h5>
    <hr>
    <div class="row">
        <div class="col">
            <P> <strong> Peso Actual: </strong>{{menor_detalles.correo}}</p>
        </div>
        <div class="col">
            <P> <strong> Talla Actual: </strong>{{menor_detalles.embarazada}}</p>
        </div>
        <div class="col">
            <P> <strong> CBI: </strong>{{menor_detalles.lactando}}</p>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <P> <strong> PTR: </strong>{{menor_detalles.direccion}}</p>
        </div>
        <div class="col">
            <P> <strong> PSE: </strong>{{menor_detalles.estado}}</p>
        </div>
        <div class="col">
            <P> <strong> CC: </strong>{{menor_detalles.ciudad}}</p>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <P> <strong> IMC: </strong>{{menor_detalles.observacion}}</p>
        </div>
        <div class="col">
            <P> <strong> Diagnóstico: </strong>{{menor_detalles.diagnostico}}</p>
        </div>
        <div class="col">
            <P> <strong> Diagnóstico Talla: </strong>{{menor_detalles.numero_cuenta}}</p>
        </div>
        <div class="col">
            <P> <strong> Diagnóstico Nutricional: </strong>{{menor_detalles.numero_cuenta}}</p>
        </div>
    </div>
    <hr>
    <br>

    <!-- ########  Tabla Antropometricos  ##########-->
    <h4 class="text-center">CONTROL ANTROPOMETRICO</h4>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead class="table-primary">
                <tr>
                    <th scope="col">ESTADO</th>
                    <th scope="col">FECHA</th>
                    <th scope="col">PESO</th>
                    <th scope="col">TALLA</th>
                    <th scope="col">IMC</th>
                    <th scope="col">DIAGNOSTICO</th>
                    <th scope="col">DETALLE</th>
                </tr>
            </thead>
            <tbody>
                {% if antropometricos %}
                    {% for antrop in antropometricos %}
                        <tr>
                            <td>{{antrop.embarazo_lactando}}</td>
                            <td>{{antrop.fecha}}</td>
                            <td>{{antrop.peso}}</td>
                            <td>{{antrop.talla}}</td>
                            <td>{{antrop.imc}}</td>
                            <td>{{antrop.diagnostico}}</td>
                            <td> <a href="#">Editar</a> </td>
                        </tr>
                    {% endfor %}
                {% endif%}
            </tbody>
        </table>

        <!-- ########  paginador Antropometrico ##########-->
        <div class="d-flex justify-content-center">
            <ul class="pagination">
                <li class="page-item d-none d-sm-block">
                    {% if antropometricos.has_previous %}
                        <a class="page-link" href="?page={{ antropometricos.previous_page_number }}#pagtable">Anterior</a>
                    {% endif%}
                </li>
                <li class="page-item d-none d-sm-block">
                    {% if menores.has_next %}
                        <a class="page-link" href="?page={{antropometricos.next_page_number }}#pagtable">Siguiente</a>
                    {% endif%}
                </li>
            </ul>
        </div>

        <!-- ########  boton agregar Antropometrico  ##########-->
        <a class="btn btn-outline-primary btn-sm" href="{% url 'antrop_benef_crear' pk %}">

            Nuevo Control Antropométrico
    
        </a>
    </div>
    <hr>
    <br>

    <!-- ########  Tabla    Control Pediatrico  ##########-->
    <h4 class="text-center">CONTROL PEDIATRICO</h4>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead class="table-primary">
                <tr>
                    <th scope="col">PROYECTO</th>
                    <th scope="col">CEDULA</th>
                    <th scope="col">NOMBRE</th>
                    <th scope="col">APELLIDO</th>
                    <th scope="col">EDAD</th>
                    <th scope="col">MESES</th>
                    <th scope="col">DETALLE</th>
                </tr>
            </thead>
            <tbody>
                {% if menores %}
                    {% for menor in menores %}
                        <tr>
                            <td>{{menor.proyecto}}</td>
                            <td>{{menor.cedula}}</td>
                            <td>{{menor.nombre}}</td>
                            <td>{{menor.apellido}}</td>
                            <td>{{menor.edad}}</td>
                            <td>{{menor.meses}}</td>
                            <td> <a href="#">Editar</a> </td>
                        </tr>
                    {% endfor %}
                {% endif%}
            </tbody>
        </table>

        <!-- ########  paginador Medico ##########-->
        <div class="d-flex justify-content-center">
            <ul class="pagination">
                <li class="page-item d-none d-sm-block">
                    {% if menores.has_previous %}
                        <a class="page-link" href="?page={{ menores.previous_page_number }}#pagtable">Anterior</a>
                    {% endif%}
                </li>
                <li class="page-item d-none d-sm-block">
                    {% if menores.has_next %}
                        <a class="page-link" href="?page={{ menores.next_page_number }}#pagtable">Siguiente</a>
                    {% endif%}
                </li>
            </ul>
        </div>

        <!-- ########  Boton Agregar Control Medico ##########-->
        <a class="btn btn-outline-primary btn-sm" href="{% url 'menor_crear' pk %}">

            Nuevo Control Pediatrico
    
        </a>

    </div>
    <hr>
    <br>


    <!-- ########  Menu de opciones  ##########-->
  
    <div class="container">
        <a href="{% url 'beneficiario_detalle' pk %}" class="btn btn-secondary"> Regresar </a>
           
        &nbsp
        <a href="{% url 'beneficiario_actualizar' pk %}" class="btn btn-primary"> Actualizar </a>
           
        &nbsp
        <a href="{% url 'beneficiario_eliminar' pk %}" role="button" class="btn btn-danger"> Eliminar </a>
        
    </div>
  

</div>


   

{% endblock %}
