{% extends 'base.html' %}

{% block content %}   

{% load crispy_forms_tags %}

<br>
<div class="container bg-light card shadow-md p-5 shadow p-3 mb-5">
                
    <h1 class="text-center">Encuesta Nutricional de Beneficiario</h1>
    <hr>
    <br>

    <form action=" " method="POST">
        {% csrf_token %}

        <div class="row">
            <div class="col-6">
                <h5>Beneficiario:</h5>
                {{nutricionales}}
            </div>
        </div>
        <br>
        {% include 'nutricional_base.html' %}

        <br>
        <hr>
        <a class="btn btn-secondary" href="{% url 'beneficiario_detalle' pk %}"><i class="bi bi-caret-left-square-fill"></i> Regresar </a>
            
    </form>

</div>


{% endblock %}

