

body {
    /* el tamaño por defecto es 14px */
    font-size: 16px;
}

.form-layout{
    border-radius: 15px;
    width: 500px;
}


 /* **************  Formulario Nutricional ************ */

 /* embarazada */
 #div_id_en_embarazo div{
    display:inline-flex;
}
#div_id_en_embarazo .form-check-label{
    margin-left: 5px;
    padding-right: 20px;
}
#div_id_en_embarazo .form-label {
    display: none;
}
#div_id_tiempo_gestacion .form-label {
    display: none;
}

 /* lactante */
#div_id_en_lactando div{
    display:inline-flex;
}
#div_id_en_lactando .form-check-label{
    margin-left: 5px;
    padding-right: 20px;
}
#div_id_en_lactando .form-label {
    display: none;
}
#div_id_tiempo_lactancia .form-label {
    display: none;
}

 /* mercado_lorealiza */
#div_id_mercado_lorealiza div{
    display:inline-flex;
}
#div_id_mercado_lorealiza .form-check-label{
    margin-left: 5px;
    padding-right: 20px;
}

 /* frecuencia */
#div_id_frecuencia div{
    display:inline-flex;
}
#div_id_frecuencia .form-check-label{
    margin-left: 5px;
    padding-right: 10px;
}

 /* cocina_lorealiza */
 #div_id_cocina_lorealiza div{
    display:inline-flex;
}
#div_id_cocina_lorealiza .form-check-label{
    margin-left: 5px;
    padding-right: 20px;
} 

 /* apetito */
#div_id_apetito div{
    display:inline-flex;
}
#div_id_apetito .form-check-label{
    margin-left: 5px;
    padding-right: 20px;
}

 /* cuantas_comidas */
 #div_id_cuantas_comidas div{
    display:inline-flex;
}
#div_id_cuantas_comidas .form-check-label{
    margin-left: 5px;
    padding-right: 20px;
}

 /* meriendas */
 #div_id_meriendas div{
    display:inline-flex;
}
#div_id_meriendas .form-check-label{
    margin-left: 5px;
    padding-right: 20px;
}

 /* cuantos_grupos */
#div_id_cuantos_grupos .form-check{
    margin-left: 100px;
}

 /* cereales */
 #div_id_cereales div{
    display:inline-flex;
    width: 100%;
}
#div_id_cereales .form-check-label{
    margin-left: 5px;
    padding-right: 20px;
}
#div_id_cereales .form-label {
    display: none;
}

 /* vegetales */
 #div_id_vegetales div{
    display:inline-flex;
    width: 100%;
}
#div_id_vegetales .form-check-label{
    margin-left: 5px;
    padding-right: 20px;
}
#div_id_vegetales .form-label {
    display: none;
}

 /* frutas */
 #div_id_frutas div{
    display:inline-flex;
    width: 100%;
}
#div_id_frutas .form-check-label{
    margin-left: 5px;
    padding-right: 20px;
}
#div_id_frutas .form-label {
    display: none;
}

 /* carnes */
 #div_id_carnes div{
    display:inline-flex;
    width: 100%;
}
#div_id_carnes .form-check-label{
    margin-left: 5px;
    padding-right: 20px;
}
#div_id_carnes .form-label {
    display: none;
}

 /* pollo */
 #div_id_pollo div{
    display:inline-flex;
    width: 100%;
}
#div_id_pollo .form-check-label{
    margin-left: 5px;
    padding-right: 20px;
}
#div_id_pollo .form-label {
    display: none;
}

 /* pescado */
 #div_id_pescado div{
    display:inline-flex;
    width: 100%;
}
#div_id_pescado .form-check-label{
    margin-left: 5px;
    padding-right: 20px;
}
#div_id_pescado .form-label {
    display: none;
}

 /* embutidos */
 #div_id_embutidos div{
    display:inline-flex;
    width: 100%;
}
#div_id_embutidos .form-check-label{
    margin-left: 5px;
    padding-right: 20px;
}
#div_id_embutidos .form-label {
    display: none;
}

 /* viceras */
 #div_id_viceras div{
    display:inline-flex;
    width: 100%;
}
#div_id_viceras .form-check-label{
    margin-left: 5px;
    padding-right: 20px;
}
#div_id_viceras .form-label {
    display: none;
}

 /* grasas */
 #div_id_grasas div{
    display:inline-flex;
    width: 100%;
}
#div_id_grasas .form-check-label{
    margin-left: 5px;
    padding-right: 20px;
}
#div_id_grasas .form-label {
    display: none;
}

 /* lacteos */
 #div_id_lacteos div{
    display:inline-flex;
    width: 100%;
}
#div_id_lacteos .form-check-label{
    margin-left: 5px;
    padding-right: 20px;
}
#div_id_lacteos .form-label {
    display: none;
}

 /* huevos */
 #div_id_huevos div{
    display:inline-flex;
    width: 100%;
}
#div_id_huevos .form-check-label{
    margin-left: 5px;
    padding-right: 20px;
}
#div_id_huevos .form-label {
    display: none;
}

 /* leguminosas */
 #div_id_leguminosas div{
    display:inline-flex;
    width: 100%;
}
#div_id_leguminosas .form-check-label{
    margin-left: 5px;
    padding-right: 20px;
}
#div_id_leguminosas .form-label {
    display: none;
}

 /* tuberculos */
 #div_id_tuberculos div{
    display:inline-flex;
    width: 100%;
}
#div_id_tuberculos .form-check-label{
    margin-left: 5px;
    padding-right: 20px;
}
#div_id_tuberculos .form-label {
    display: none;
}

 /* charcuteria */
 #div_id_charcuteria div{
    display:inline-flex;
    width: 100%;
}
#div_id_charcuteria .form-check-label{
    margin-left: 5px;
    padding-right: 20px;
}
#div_id_charcuteria .form-label {
    display: none;
}

 /* poco_vegetales */
 #div_id_poco_vegetales div{
    display:inline-flex;
}
#div_id_poco_vegetales .form-check-label{
    margin-left: 5px;
    padding-right: 20px;
}

 /* poco_frutas */
 #div_id_poco_frutas  div{
    display:inline-flex;
}
#div_id_poco_frutas  .form-check-label{
    margin-left: 5px;
    padding-right: 20px;
}

 /* poco_viceras  */
 #div_id_poco_viceras div{
    display:inline-flex;
}
#div_id_poco_viceras .form-check-label{
    margin-left: 5px;
    padding-right: 20px;
}

 /* bonos */
#div_id_bonos div{
    display:inline-flex;
}
#div_id_bonos .form-check-label{
    margin-left: 5px;
    padding-right: 20px;
}
#div_id_bonos .form-label{
    display: none;
}
#div_id_bonos_entre div{
    display:inline-flex;
}
#div_id_bonos_entre .form-check-label{
    margin-left: 5px;
    padding-right: 20px;
}
#div_id_bonos_entre .form-label{
    display: none;
}

 /* clap */
 #div_id_clap div{
    display:inline-flex;
}
#div_id_clap .form-check-label{
    margin-left: 5px;
    padding-right: 20px;
}
#div_id_clap .form-label{
    display: none;
}
 #div_id_clap_entre div{
    display:inline-flex;
}
#div_id_clap_entre .form-check-label{
    margin-left: 5px;
    padding-right: 20px;
}
#div_id_clap_entre .form-label{
    display: none;
}

 /* iglesia */
 #div_id_iglesia div{
    display:inline-flex;
}
#div_id_iglesia .form-check-label{
    margin-left: 5px;
    padding-right: 20px;
}
#div_id_iglesia .form-label{
    display: none;
}
 #div_id_iglesia_entre div{
    display:inline-flex;
}
#div_id_iglesia_entre .form-check-label{
    margin-left: 5px;
    padding-right: 20px;
}
#div_id_iglesia_entre .form-label{
    display: none;
}
 /* familiar */
 #div_id_familiar div{
    display:inline-flex;
}
#div_id_familiar .form-check-label{
    margin-left: 5px;
    padding-right: 20px;
}
#div_id_familiar .form-label{
    display: none;
}
 #div_id_familiar_entre div{
    display:inline-flex;
}
#div_id_familiar_entre .form-check-label{
    margin-left: 5px;
    padding-right: 20px;
}
#div_id_familiar_entre .form-label{
    display: none;
}
 /* pensionado */
 #div_id_pensionado div{
    display:inline-flex;
}
#div_id_pensionado .form-check-label{
    margin-left: 5px;
    padding-right: 20px;
}
#div_id_pensionado .form-label{
    display: none;
}
#div_id_pensionado_entre div{
    display:inline-flex;
}
#div_id_pensionado_entre .form-check-label{
    margin-left: 5px;
    padding-right: 20px;
}
#div_id_pensionado_entre .form-label{
    display: none;
}

 /* practica_deporte */
 #div_id_practica_deporte div{
    display:inline-flex;
}
#div_id_practica_deporte .form-check-label{
    margin-left: 5px;
    padding-right: 20px;
}

 /* medicamento */
 #div_id_medicamento div{
    display:inline-flex;
}
#div_id_medicamento .form-check-label{
    margin-left: 5px;
    padding-right: 20px;
}

 /* agua */
 #div_id_agua div{
    display:inline-flex;
}
#div_id_agua .form-check-label{
    margin-left: 5px;
    padding-right: 20px;
}

 /* falla_servicio */
 #div_id_falla_servicio div{
    display:inline-flex;
}
#div_id_falla_servicio .form-check-label{
    margin-left: 5px;
    padding-right: 20px;
}

 /* compra_gas */
 #div_id_compra_gas div{
    display:inline-flex;
}
#div_id_compra_gas .form-check-label{
    margin-left: 5px;
    padding-right: 20px;
}

 /* compra_agua */
 #div_id_compra_agua div{
    display:inline-flex;
}
#div_id_compra_agua .form-check-label{
    margin-left: 5px;
    padding-right: 20px;
}

 /* almacena_agua */
 #div_id_almacena_agua div{
    display:inline-flex;
}
#div_id_almacena_agua .form-check-label{
    margin-left: 5px;
    padding-right: 20px;
}
 /* donde_almacena */
 #div_id_donde_almacena div{
    display:inline-flex;
}
#div_id_donde_almacena .form-check-label{
    margin-left: 5px;
    padding-right: 20px;
}

 /* conoce_grupos */
 #div_id_conoce_grupos div{
    display:inline-flex;
}
#div_id_conoce_grupos .form-check-label{
    margin-left: 5px;
    padding-right: 20px;
}

 /* conoce_calidad */
 #div_id_conoce_calidad div{
    display:inline-flex;
}
#div_id_conoce_calidad .form-check-label{
    margin-left: 5px;
    padding-right: 20px;
}
 /* conoce_desnutricion */
 #div_id_conoce_desnutricion div{
    display:inline-flex;
}
#div_id_conoce_desnutricion .form-check-label{
    margin-left: 5px;
    padding-right: 20px;
}


 /* conoce_beneficio */
 #div_id_conoce_beneficio div{
    display:inline-flex;
}
#div_id_conoce_beneficio .form-check-label{
    margin-left: 5px;
    padding-right: 20px;
}
#div_id_conoce_beneficio .form-label{
    display: none;
}

 /* embarazo */
 #div_id_embarazo div{
    display:inline-flex;
}
#div_id_embarazo .form-check-label{
    margin-left: 5px;
    padding-right: 20px;
}
#div_id_embarazo .form-label{
    display: none;
}

 /* lactando */
 #div_id_lactando div{
    display:inline-flex;
}
#div_id_lactando .form-check-label{
    margin-left: 5px;
    padding-right: 20px;
}
#div_id_lactando .form-label{
    display: none;
}

 /* desea_amamantar */
 #div_id_desea_amamantar div{
    display:inline-flex;
}
#div_id_desea_amamantar .form-check-label{
    margin-left: 5px;
    padding-right: 20px;
}
#div_id_desea_amamantar .form-label{
    display: none;
}

 /* dificultad_amamantar */
 #div_id_dificultad_amamantar div{
    display:inline-flex;
}
#div_id_dificultad_amamantar .form-check-label{
    margin-left: 5px;
    padding-right: 20px;
}
#div_id_dificultad_amamantar .form-label{
    display: none;
}

 /* desea_orientacion */
 #div_id_desea_orientacion div{
    display:inline-flex;
}
#div_id_desea_orientacion .form-check-label{
    margin-left: 5px;
    padding-right: 20px;
}
#div_id_desea_orientacion .form-label{
    display: none;
}

 /* desea_conocimiento */
 #div_id_desea_conocimiento div{
    display:inline-flex;
}
#div_id_desea_conocimiento .form-check-label{
    margin-left: 5px;
    padding-right: 20px;
}
#div_id_desea_conocimiento .form-label{
    display: none;
}