{% extends 'base.html' %}

{% block content %}

    <body>
        <div class="d-flex justify-content-end p-2">
             <p>Siguenos: &nbsp <a data-mdb-ripple-init class="btn btn-primary" style="background-color: #ac2bac;" href="https://www.instagram.com/bokitasorg/?hl=es" target="_blank" role="button"
  ><i class="bi bi-instagram"></i></a> &nbsp <a data-mdb-ripple-init class="btn btn-primary" style="background-color: #6f42c1;" href="https://www.bokitas.org" target="_blank" role="button"
  ><i class="bi bi-globe"></i></a>   </p>
        </div>
        <div class="text-center bg-light.bg-gradient ">

            <h2> Sistema Integral de Atención BOKITAS </h2>
            <h5> Realice el seguimiento al beneficiario de manera efectiva </h5>
            <hr>
            {% if user.is_authenticated %}
                <!--  CARRUSEL DE BOKITAS    -->
              <div class="col-lg-4" style="float:none;margin:auto;">
                <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img src="static\img\bokitas1.jpg" class="d-block w-100" alt="bokitas1.jpg" height="300">
                      </div>
                      <div class="carousel-item">
                        <img src="static\img\bokitas2.jpg" class="d-block w-100" alt="bokitas2.jpg" height="300">
                      </div>
                      <div class="carousel-item">
                        <img src="static\img\bokitas3.jpg" class="d-block w-100" alt="bokitas3.jpg" height="300">
                      </div>
                      <div class="carousel-item">
                        <img src="static\img\bokitas4.jpg" class="d-block w-100" alt="bokitas4.jpg" height="300">
                      </div>
                      <div class="carousel-item">
                        <img src="static\img\bokitas5.jpg" class="d-block w-100" alt="bokitas5.jpg" height="300">
                      </div>
                      <div class="carousel-item">
                        <img src="static\img\bokitas6.jpg" class="d-block w-100" alt="bokitas5.jpg" height="300">
                      </div>
                      <div class="carousel-item">
                        <img src="static\img\bokitas7.jpg" class="d-block w-100" alt="bokitas5.jpg" height="300">
                      </div>
                      <div class="carousel-item">
                        <img src="static\img\bokitas8.jpg" class="d-block w-100" alt="bokitas5.jpg" height="300">
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
              </div>
            <br>

            {% else %}
                <a class="btn btn-primary w-25 d-block mx-auto p-2" type="button" href="{% url 'signin' %}"> Ingresar al Sistema </a>
                <br>
                <br>
                <br>
            {% endif %}

            <div class="container">
                <h4 class="text-center"> COMO TRABAJAMOS </h4>
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    <div class="col">
                        <div class="card h-100 card border-white">
                            <img src="/static/img/cuchilleria.png" class="mx-auto d-block" alt="Suplementos nutricionales" height="150">
                            <div class="card-body">
                                <h5 class="card-title">NUTRICIONAL</h5>
                                <p class="card-text">Bokitas facilitan el acceso a suplementos nutricionales y educación nutricional.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100 card border-white">
                            <img src="/static/img/medicion.png" class="mx-auto d-block" alt="Pesan y miden a menores" height="150">
                            <div class="card-body">
                                <h5 class="card-title">CONTROL</h5>
                                <p class="card-text">Especialistas pesan y miden a menores e identifican a los desnutridos.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100 card border-white">
                            <img src="/static/img/estetoscopio.png" class="mx-auto d-block" alt="Pediatria" height="150">
                            <div class="card-body">
                                <h5 class="card-title">PEDIATRIA</h5>
                                <p class="card-text">El pediatra examina a los niños y solicita pruebas de laboratorio y medicamentos.</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
      </div>
      <br>
    </body>
{% endblock%}