{% extends 'base.html' %}

{% block content %}

    <body>
        <br>
        <br>
        <div class="text-center">

            <h2> Sistema Integral de Atención BOKITAS </h2>
            <br>
            <h5> Realice el seguimiento al beneficiario de manera efectiva </h5>
            <hr>
            <br>
            <br>
            {% if user.is_authenticated %}
                <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam magnam, quod est consequatur alias ut labore ullam assumenda. Soluta nostrum aspernatur eveniet in! Ad molestiae sed id, molestias voluptatum blanditiis dignissimos. Error esse consequuntur nemo ipsum? Voluptas ex reiciendis, porro inventore debitis culpa ea perspiciatis voluptatibus laborum veniam praesentium hic nostrum repudiandae obcaecati excepturi provident sunt, a maiores atque. Beatae molestias nulla vero ut, deserunt minus consequuntur? Architecto quisquam, voluptatum maxime eaque pariatur quo commodi aliquid? Inventore sed, cum similique nam quasi repellendus enim eum aliquam, eius, debitis quo! Ut dignissimos tempora recusandae necessitatibus delectus sed mollitia et hic vero.</P>
            {% else %}
                <a class="btn btn-primary" type="button" href="{% url 'signin' %}"> Ingresar</a>
            {% endif %}
        </div>

    </body>

{% endblock%}