

<nav class="navbar navbar-expand-lg bg-primary p-2 ">
    <div class="container-fluid">
        <div class="contenedor_logo">
          <a class="navbar-brand" href="/">
            <img src="/static/img/bokitas-logo.png" alt="Bokitas" class="logo" width="140" height="30" />
          </a>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon navbar-dark"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link active text-light" aria-current="page" href="/">Home</a>
            </li>
            {% if user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link text-white" href="/proyecto">Proyecto</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="/beneficiario">Beneficiario</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="/menores">Menores</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="/nutricional">Nutricional</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-light" data-bs-toggle="dropdown" role="button" aria-expanded="false">Reportes</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#exp_proyecto">Exportar Excel Proyecto</a></li>
                  <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#exp_beneficiario">Exporta Excel Beneficiarios</a></li>
                  <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#exp_menores">Exporta Excel Menores</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-light" data-bs-toggle="dropdown" role="button" aria-expanded="false">Tareas</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/tareas">Tareas Pendientes</a></li>
                  <li><a class="dropdown-item" href="/tareas/completada">Tareas Realizadas</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="/tareas/crear">Nueva Tarea</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="{% url 'logout' %}">Salir</a>
              </li>
            {% else %}
              <li class="nav-item">
                <a class="nav-link text-white" href="{% url 'signin' %}">Ingresar</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="{% url 'signup' %}">Registrarse</a>
              </li>
            {% endif%}
          </ul>
        </div>
    </div>
  </nav>


<!-- Modal exp_proyecto -->
<div class="modal fade" id="exp_proyecto"  data-bs-keyboard="false" tabindex="-1" aria-labelledby="exp_proyectoLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h1 class="modal-title fs-5" id="exp_proyectoLabel">Exportar Proyecto Completo</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="col-4">
            <label for="">Proyecto: </label>
            <input type="number" name="proye" class="form-control" required placeholder="Proyecto">
        </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
              <a href="{% url 'exportar_proyecto' %}" role="button" class="btn btn-info"> Exportar </a>
          </div>
      </div>
  </div>
</div>


<!-- Modal exp_Beneficiario -->
<div class="modal fade" id="exp_beneficiario" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="exp_beneficiariooLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h1 class="modal-title fs-5" id="exp_beneficiarioLabel">Exportar listado de Beneficiarios de un Proyecto</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              Está seguro de Eliminar al Beneficiario?
              Esta acción elimina también a los menores que han sido registrados bajo su Tutela
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
              <a href="#" role="button" class="btn btn-info"> Exportar </a>
          </div>
      </div>
  </div>
</div>


<!-- Modal exp_Menores -->
<div class="modal fade" id="exp_menores" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="exp_menoresLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h1 class="modal-title fs-5" id="exp_menoresLabel">Exportar listado de Menores de un Proyecto</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              Está seguro de Eliminar al Beneficiario?
              Esta acción elimina también a los menores que han sido registrados bajo su Tutela
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
              <a href="#" role="button" class="btn btn-info"> Exportar </a>
          </div>
      </div>
  </div>
</div>