
<nav class="navbar navbar-expand-lg bg-primary p-2 bg-opacity-75" data-bs-theme="dark"> 
    <div class="container-fluid">
        <div class="contenedor_logo">
        <img src="/static/img/bokitas-logo.png" alt="Bokitas" class="logo" width="140" height="30" />
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link active text-black" aria-current="page" href="/">Home</a>
          </li>
          {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link text-black" href="/proyecto">Proyecto</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-black" href="/beneficiario">Beneficiario</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-black" href="/medica">Medica</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-black" href="/nutricional">Nutricional</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-black" href="/socioeconomico">Socioeconomico</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-black" data-bs-toggle="dropdown" role="button" aria-expanded="false">Tareas</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/tareas">Tareas Pendientes</a></li>
                <li><a class="dropdown-item" href="/tareas/completada">Tareas Realizadas</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="/tareas/crear">Nueva Tarea</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link text-black" href="{% url 'logout' %}">Salir</a>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link text-black" href="{% url 'signin' %}">Ingresar</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-black" href="{% url 'signup' %}">Registrarse</a>
            </li>
          {% endif%}
        </ul>
      </div>
    </div>
  </nav>
