{% extends 'base.html' %}

{% block content %}   

{% load crispy_forms_tags %}

<br>

<!-- ########  Detalle del Menor  ##########-->
<div class="container bg-light card shadow-md p-5 shadow p-3 mb-5">

    <h1 class="text-center">Detalles del Menor</h1>
    <h5 class="text-center">Información detallada del Menor</h5>
    <hr>

    <div class="row">
        {% if proyectos.estatus == "ACTIVO" %}
            <div class="col-6">
                <P class="text-success fw-bold"> <strong> Proyecto: </strong> {{menor_detalles.proyecto}} </p>
            </div>
            <div class="col-6">
                <P> <strong> Representante: </strong>{{menor_detalles.cedula_bef}}</p>
            </div>
        {% else %}
            <div class="col-6">
                <P class="text-danger fw-bold"> <strong> Proyecto: </strong> {{menor_detalles.proyecto}}</p>
            </div>
            <div class="col-6">
                <P> <strong> Representante: </strong>{{menor_detalles.cedula_bef}}</p>
            </div>
            <div class="col-12">
                <P class="text-danger fw-bold">Este proyecto no esta ACTIVO, Favor Actualizar</p>
            </div>
        {% endif %}
    </div>
    <div class="row">
        <div class="col">
            <P> <strong> Cédula: </strong> {{menor_detalles.cedula}} </p>
        </div>
        <div class="col">
            <P> <strong> Nombre: </strong>{{menor_detalles.nombre}}</p> 
        </div>
        <div class="col">
            <P> <strong> Apellido: </strong> {{menor_detalles.apellido}} </p>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <P> <strong> Sexo: </strong>{{menor_detalles.sexo}}</p>
        </div>
        <div class="col-4">
            <P> <strong> Fecha Nacimiento: </strong>{{menor_detalles.fecha_nac | date:"d/m/Y"}}</p>
        </div>
        <div class="col">
            <P> <strong> Edad: </strong>{{menor_detalles.edad}}</p>
        </div>
        <div class="col">
            <P> <strong> Meses: </strong>{{menor_detalles.meses}}</p>
        </div>
    </div>
         
    <div class="row">
        <div class="col">
            <P> <strong> Parentesco: </strong>{{menor_detalles.parentesco}}</p>
        </div>
        <div class="col">
            <P> <strong> Fecha Ingreso: </strong>{{menor_detalles.fecha_ing_proyecto | date:"d/m/Y"}}</p>
        </div>
        <div class="col">
            <P> <strong> Observación: </strong>{{menor_detalles.observacion}}</p>
        </div>
        <div class="col">
            {% if menor_detalles.estatus == "ACTIVO" %}
                    <P class="text-success fw-bold"> <strong> Estatus: </strong>{{menor_detalles.estatus}}</p>
            {% else %}
                    <P class="text-danger fw-bold"> <strong> Estatus: </strong>{{menor_detalles.estatus}}</p>
            {% endif %}
        </div>
    </div>       


    <hr>
    <h5 class="text-center">Información del Primer Control Antropométrico</h5>
    <div class="row">
        <div class="col">
            <P> <strong> Peso Inicial: </strong>{{menor_detalles.peso_inicial}}</p>
        </div>
        <div class="col">
            <P> <strong> Talla Inicial: </strong>{{menor_detalles.talla_inicial}}</p>
        </div>
        <div class="col">
            <P> <strong> CBI: </strong>{{menor_detalles.cbi_inicial}}</p>
        </div>
        <div class="col">
            <P> <strong> IMC: {{menor_detalles.imc_inicial}} Kg/m²</strong></p>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <P> <strong> Diagnóstico Peso: </strong>{{menor_detalles.diagnostico_inicial}}</p>
        </div>
        <div class="col">
            <P> <strong> Diagnóstico Talla: </strong>{{menor_detalles.diagnostico_talla_inicial}}</p>
        </div>
    </div>

    <hr>
    <h5 class="text-center">Información del Último Control Antropométrico</h5>
    <div class="row">
        <div class="col">
            <P> <strong> Peso Actual: </strong>{{menor_detalles.peso_actual}}</p>
        </div>
        <div class="col">
            <P> <strong> Talla Actual: </strong>{{menor_detalles.talla_actual}}</p>
        </div>
        <div class="col">
            <P> <strong> CBI: </strong>{{menor_detalles.cbi_actual}}</p>
        </div>
        <div class="col">
            <P> <strong> IMC: {{menor_detalles.imc_actual}} Kg/m²</strong></p>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <P> <strong> Diagnóstico Peso: </strong>{{menor_detalles.diagnostico_actual}}</p>
        </div>
        <div class="col">
            <P> <strong> Diagnóstico Talla: </strong>{{menor_detalles.diagnostico_talla_actual}}</p>
        </div>
        <div class="col">
            <P> <strong> Diagnóstico Nutricional: </strong>{{menor_detalles.estado_nutri_actual}}</p>
        </div>
    </div>
    <hr>
    <br>

    <!-- ########  Tabla Antropometricos  ##########-->
    <h4 class="text-center">CONTROL ANTROPOMETRICO</h4>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead class="table-primary">
                <tr>
                    <th scope="col">PROYECTO</th>
                    <th scope="col" class="text-center">JORNADA</th>
                    <th scope="col" class="text-center">EDAD</th>
                    <th scope="col" class="text-center">MESES</th>
                    <th scope="col" class="text-center">PESO</th>
                    <th scope="col" class="text-center">TALLA</th>
                    <th scope="col" class="text-center">IMC Kg/m²</th>
                    <th scope="col" class="text-center">DIAGN. PESO</th>
                    <th scope="col" class="text-center">DIAGN. TALLA</th>
                    <th scope="col" class="text-center">RIESGO</th>
                    <th scope="col" class="text-center">DETALLE</th>
                </tr>
            </thead>
            <tbody>
                {% if antropMenores %}
                    {% for antrop in antropMenores %}
                        <tr>
                            <td>{{antrop.proyecto}}</td>
                            <td class="text-center">{{antrop.jornada.jornada | date:"d/m/Y"}}</td>
                            <td class="text-center">{{antrop.edad}}</td>
                            <td class="text-center">{{antrop.meses}}</td>
                            <td class="text-center">{{antrop.peso}}</td>
                            <td class="text-center">{{antrop.talla}}</td>
                            <td class="text-center">{{antrop.imc}}</td>
                            {% if antrop.diagnostico == "BAJO PESO" %}
                                <td class="text-center"><div class="text-bg-danger">BAJO PESO</div></td>  
                            {%elif antrop.diagnostico == "DNT AGUDA SEVERA" %}
                                <td class="text-center"><div class="text-bg-danger">DNT AGUDA SEVERA</div></td>  
                            {%elif antrop.diagnostico == "DNT AGUDA MODERADA" %}
                                <td class="text-center"><div class="text-white"style="background-color:#FF7F50">DNT AGUDA MODERADA</div></td>  
                            {%elif antrop.diagnostico == "RIESGO DNT AGUDA" %}
                                <td class="text-center"><div class="text-bg-warning">RIESGO DNT AGUDA</div></td>  
                            {%elif antrop.diagnostico == "PESO ADECUADO" %}
                                <td class="text-center"><div class="text-bg-success">PESO ADECUADO</div></td>
                            {%elif antrop.diagnostico == "RIESGO DE SOBREPESO" %}
                                <td class="text-center"><div class="text-bg-warning">RIESGO DE SOBREPESO</div></td>
                            {%elif antrop.diagnostico == "SOBREPESO" %}
                                <td class="text-center"><div class="text-white"style="background-color:#FF7F50">SOBREPESO</div></td>
                            {%elif antrop.diagnostico == "OBESIDAD" %}
                                <td class="text-center"><div class="text-bg-danger">OBESIDAD</div></td>
                            {% endif %}

                            {% if antrop.diagnostico_talla == "TALLA BAJA" %}
                                <td class="text-center"><div class="text-bg-danger">TALLA BAJA</div></td>  
                            {%elif antrop.diagnostico_talla == "RIESGO TALLA BAJA" %}
                                <td class="text-center"><div class="text-bg-warning">RIESGO TALLA BAJA</div></td>  
                            {%elif antrop.diagnostico_talla == "TALLA NORMAL" %}
                                <td class="text-center"><div class="text-bg-success">TALLA NORMAL</div></td>
                            {%elif antrop.diagnostico_talla == "RIESGO TALLA ALTA" %}
                                <td class="text-center"><div class="text-bg-warning">RIESGO TALLA ALTA</div></td>
                            {%elif antrop.diagnostico_talla == "TALLA ALTA" %}
                                <td class="text-center"><div class="text-bg-info">TALLA ALTA</div></td>
                            {% else %}
                                <td class="text-center"><div class="text-bg-info text-white">NO APLICA</div></td>
                            {% endif %}
                            <td class="text-center">{{antrop.riesgo}}</td>
                            <td class="text-center"> <a class="btn btn btn-outline-primary btn-sm" href="{% url 'imc_menor_detalle' pk id antrop.id  %}"><i class="bi bi-pencil-square"></i> Detalle</a> </td>
                        </tr>
                    {% endfor %}
                {% endif%}
            </tbody>
        </table>

        <!-- ########  boton agregar Antropometrico  ##########-->
        {% if proyectos.estatus == "ACTIVO" and menor_detalles.estatus == "ACTIVO" %}
            <a class="btn btn-outline-primary btn-sm" href="{% url 'imc_menor_crear' pk id %}"><i class="bi bi-clipboard2-pulse-fill"></i>

                Nuevo Control Antropométrico
        
            </a>
        {% else %}
            <a class="btn btn-outline-secondary btn-sm" href="#"><i class="bi bi-clipboard2-pulse-fill"></i>

                Nuevo Control Antropométrico
        
            </a>
        {% endif %}

    </div>
    <hr>
    <br>

    <!-- ########  Tabla    Control Pediatrico  ##########-->
    <h4 class="text-center">CONTROL PEDIATRICO</h4>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead class="table-primary">
                <tr>
                    <th scope="col">PROYECTO</th>
                    <th scope="col" class="text-center">JORNADA</th>
                    <th scope="col" class="text-center">EDAD</th>
                    <th scope="col" class="text-center">MESES</th>
                    <th scope="col" class="text-center">TIPO CONSULTA</th>
                    <th scope="col" class="text-center">EXAMEN FISICO</th>
                    <th scope="col" class="text-center">NIÑO SANO</th>
                    <th scope="col" class="text-center">ASESORÍA LACTANCIA</th>
                    <th scope="col" class="text-center">RECOMENDACIÓN NUTRICIONAL</th>
                    <th scope="col" class="text-center">REFERENCIA PSICOLÓGICA</th>
                    <th scope="col" class="text-center">DETALLE</th>
                </tr>
            </thead>
            <tbody>
                {% if medicas %}
                    {% for medica in medicas %}
                        <tr>
                            <td>{{medica.proyecto}}</td>
                            <td class="text-center">{{medica.jornada.jornada | date:"d/m/Y"}}</td>
                            <td class="text-center">{{medica.edad}}</td>
                            <td class="text-center">{{medica.meses}}</td>
                            <td class="text-center">{{medica.tipo_consulta}}</td>
                            <td class="text-center">{{medica.examen_fisico}}</td>
                            {% if medica.sano %}
                                <td class="text-center">SI</td>
                            {% else %}
                                <td class="text-center">NO</td>
                            {% endif%}

                            {% if medica.asesor_lactancia %}
                                <td class="text-center">SI</td>
                            {% else %}
                                <td class="text-center">NO</td>
                            {% endif%}
                            {% if medica.recomen_nutricional %}
                                <td class="text-center">SI</td>
                            {% else %}
                                <td class="text-center">NO</td>
                            {% endif%}
                            {% if medica.refe_psicologica %}
                                <td class="text-center">SI</td>
                            {% else %}
                                <td class="text-center">NO</td>
                            {% endif%}

                            <td class="text-center"> <a class="btn btn btn-outline-primary btn-sm" href="{% url 'medica_detalle' pk id medica.id %}"><i class="bi bi-pencil-square"></i> Detalle</a> </td>
                        </tr>
                    {% endfor %}
                {% endif%}
            </tbody>
        </table>

        <!-- ########  Boton Agregar Control Medico ##########-->
        {% if proyectos.estatus == "ACTIVO" and menor_detalles.estatus == "ACTIVO" %}
            <a class="btn btn-outline-primary btn-sm" href="{% url 'medica_crear' pk id %}"><i class="bi bi-heart-pulse-fill"></i>

                Nuevo Control Pediatrico
        
            </a>
        {% else %}
        <a class="btn btn-outline-secondary btn-sm" href="#"><i class="bi bi-heart-pulse-fill"></i>

            Nuevo Control Pediatrico
    
        </a>
        {% endif %}

    </div>
    <hr>
    <br>


    <!-- ########  Tabla  Vacunación  ##########-->
    <h4 class="text-center">CONTROL DE INMUNIZACIONES</h4>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead class="table-primary">
                <tr>
                    <th scope="col">PROYECTO</th>
                    <th scope="col" class="text-center">JORNADA</th>
                    <th scope="col" class="text-center">EDAD</th>
                    <th scope="col" class="text-center">MESES</th>
                    <th scope="col" class="text-center">VACUNA</th>
                    <th scope="col" class="text-center">DOSIS</th>
                    <th scope="col" class="text-center">DETALLE</th>
                </tr>
            </thead>
            <tbody>
                {% if vacunas %}
                    {% for vacuna in vacunas %}
                        <tr>
                            <td>{{vacuna.proyecto}}</td>
                            <td class="text-center">{{vacuna.jornada.jornada | date:"d/m/Y"}}</td>
                            <td class="text-center">{{vacuna.edad}}</td>
                            <td class="text-center">{{vacuna.meses}}</td>
                            <td class="text-center">{{vacuna.vacuna}}</td>
                            <td class="text-center">{{vacuna.dosis}}</td>
                            <td class="text-center"> <a class="btn btn btn-outline-primary btn-sm" href="{% url 'vacuna_detalle' pk id vacuna.id %}"><i class="bi bi-pencil-square"></i> Detalle</a> </td>
                        </tr>
                    {% endfor %}
                {% endif%}
            </tbody>
        </table>

        <!-- ########  Boton Agregar Control Medico ##########-->
        {% if proyectos.estatus == "ACTIVO" and menor_detalles.estatus == "ACTIVO" %}
            <a class="btn btn-outline-primary btn-sm" href="{% url 'vacuna_crear' pk id %}"><i class="bi bi-eyedropper"></i>

                Nueva Vacuna
        
            </a>
        {% else %}
        <a class="btn btn-outline-secondary btn-sm" href="#"><i class="bi bi-eyedropper"></i>

            Nueva Vacuna
    
        </a>
        {% endif %}

    </div>
    <hr>
    <br>


    <!-- ########  Menu de opciones  ##########-->
  
    <div class="container">
        <a href="{% url 'beneficiario_detalle' pk %}" class="btn btn-primary"><i class="bi bi-caret-left-square-fill"></i> Regresar </a>
           
        &nbsp
        <a href="{% url 'menor_actualizar' pk id %}" class="btn btn-info"><i class="bi bi-database-fill-up"></i> Actualizar </a>
           
        &nbsp
        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><i class="bi bi-trash-fill"></i>
            Eliminar
        </button>

        &nbsp
        <a class="btn btn-success" href="{% url 'exp_menor_detalle' id %}"><i class="bi bi-filetype-xls"></i> Exportar a Excel</a>
        
        
    </div>
  
</div>


<!-- Modal Eliminar Menor-->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Eliminar Registro del Menor</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Está seguro de Eliminar al Menor?
                Esta acción elimina también la información registrada del menor
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="bi bi-caret-left-square-fill"></i> Cancelar</button>
                <a href="{% url 'menor_eliminar' pk id %}" role="button" class="btn btn-danger"><i class="bi bi-trash-fill"></i> Eliminar </a>
            </div>
        </div>
    </div>
</div>



{% endblock %}
