{% extends 'base.html' %}

{% block content %}   

{% load crispy_forms_tags %}

<br>
<div class="container">
    <div class="container bg-light card shadow-md p-5 shadow p-3 col-md-8 offset-md-2">

        <h1 class="text-center">Registro de Vacunación</h1>
        <h5 class="text-center">Agrege los datos requerido para su registro</h5>
        
        <hr>             

        <div class="tabcontent">  
            <form action="" method="POST">
                {% csrf_token %}

                <div class="row">
                    <div class="col-12 text-center">
                        <strong> BENEFICIARIO </strong>
                    </div>
                    <div class="col-12 text-center">
                        {{beneficiarios}}
                    </div>
                    <div class="col-12 text-center">
                        <br>
                        <strong> NOMBRE DEL MENOR EN CONSULTA</strong>
                    </div>
                    <div class="row d-flex justify-content-center text-center">

                        <div class="col-4">
                            <P> <strong> Cédula: </strong> {{menor_detalles.cedula}} </p>
                        </div>
                        <div class="col-4">
                            <P> <strong> Nombre: </strong>{{menor_detalles.nombre}}    {{menor_detalles.apellido}}</p> 
                        </div>
                        <div class="col-2">
                            <P> <strong> Edad: </strong> {{menor_detalles.edad}} </p>
                        </div>
                        <div class="col-2">
                            <P> <strong> Meses: </strong> {{menor_detalles.meses}} </p>
                        </div>
                    </div>
                    
                </div>
                <br>
                <div class="col-12 d-flex justify-content-center text-center">
                    <h6>{{form.jornada | as_crispy_field}}</h6>
                </div>
                <div class="row">
                    <div class="col-6">
                        <h6>{{form.vacuna | as_crispy_field}}</h6>
                    </div>

                    <div class="col-6">
                        <h6>{{form.dosis | as_crispy_field}}</h6>
                    </div>

                    <div class="d-flex justify-content-center">
                        <h6>{{form.observacion | as_crispy_field}}</h6>
                    </div>
                </div>
                <br>
                <hr>

                <a href="{% url 'menor_detalle' pk id %}" class="btn btn-secondary"> Regresar </a>
                &nbsp
                <button type="submit" class="btn btn-primary" action="{% url 'vacuna_crear' pk id %}">Aceptar </button>

            </form>
            <br>
            <br>

            {% load static %}  
            <picture>
                <img src="{% static 'img\Bokitas_vacunas.png' %}" class="img-fluid" alt="Bokitas_vacunas">
            </picture>

        </div>

    </div>
</div>

{% endblock %}