
{% extends 'base.html' %}

{% block content %}   

{% load crispy_forms_tags %}

<br>
<div class="container bg-light card shadow-md p-5 shadow p-3 mb-5">

    <h1 class="text-center">Detalles del Proyecto</h1>
    <h5 class="text-center">Información detallada del Proyecto</h5>
    <hr>
    <br>
    <div class="row">
        {% if proyectos.estatus == "ACTIVO" %}
            <div class="col-6">
                <P class="text-success fw-bold"> <strong> Proyecto: </strong> {{proyectos.proyecto}} </p>
            </div>
            <div class="col-6">
                <P class="text-success fw-bold"> <strong> Estatus: </strong> {{proyectos.estatus}} </p>
            </div>
        {% else %}
            <div class="col-6">
                <P class="text-danger fw-bold"> <strong> Proyecto: </strong> {{proyectos.proyecto}}</p>
            </div>
            <div class="col-6">
                <P class="text-danger fw-bold"> <strong> Estatus: </strong> {{proyectos.estatus}} </p>
            </div>
            <div class="col-12">
                <P class="text-danger fw-bold">Este proyecto se encuentra Cerrado</p>
            </div>
        {% endif %}
    </div>

    <div class="row">
        <div class="col">
            <P> <strong> Nombre del Centro: </strong> {{proyectos.nombre_centro}} </p>
        </div>
        <div class="col">
            <P> <strong> Representante: </strong>{{proyectos.representante}}</p> 
        </div>
    </div>
    <div class="row">
        <div class="col">
            <P> <strong> Teléfono: </strong> {{proyectos.telefono}} </p>
        </div>
        <div class="col">
            <P> <strong> Correo: </strong>{{proyectos.correo}}</p>
        </div>
    </div>
    
        <div class="row">

            <div class="col-4">
                <P> <strong> Dirección: </strong>{{proyectos.direccion}}</p>
            </div>
            <div class="col">
                <P> <strong> Estado: </strong>{{proyectos.estado}}</p>
            </div>
            <div class="col">
                <P> <strong> Ciudad: </strong>{{proyectos.ciudad}}</p>
            </div>
        </div>

        <!-- ########  Tabla  Fechas del Proyecto  ##########-->
    <h4 class="text-center">FECHAS ASIGNADAS PARA ESTE PROYECTO</h4>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead class="table-primary">
                <tr>
                    <th scope="col">PROYECTO</th>
                    <th scope="col" class="text-center">FECHA</th>
                    <th scope="col">DESCRIPCIÓN</th>
                    <th scope="col" class="text-center">DETALLE</th>
                </tr>
            </thead>
            <tbody>
                {% if jornadas %}
                    {% for jornada in jornadas %}
                        <tr>
                            <td>{{jornada.proyecto}}</td>
                            <td class="text-center">{{jornada.jornada | date:"d/m/Y"}}</td>
                            <td>{{jornada.descripcion}}</td>
                            <td class="text-center"><a class="btn btn-danger btn-sm"data-bs-toggle="modal" data-bs-target="#modaljornada"><i class="bi bi-trash-fill"></i> Eliminar</a></td>
                        </tr>
                        
                        <!-- Modal Eliminar Medicamentos / Productos -->
                        <div class="modal fade" id="modaljornada" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Eliminar Registro de Medicamento</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        Está seguro de Eliminar la Jornada de éste Proyecto?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                        <a href="{% url 'jornada_eliminar' pk jornada.id %}" role="button" class="btn btn-danger"> Eliminar </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif%}
            </tbody>
        </table>

        <!-- ########  Boton Agregar Control Medico ##########-->
        {% if proyectos.estatus == "ACTIVO" %}
            <button type="button" class="btn btn-outline-primary btn-sm" data-bs-toggle="modal" data-bs-target="#FechaProyecto">
                Nueva Jornada al Proyecto
            </button>

        {% else %}
        <a class="btn btn-outline-secondary btn-sm" href="#">

            Nueva Jornada al Proyecto
    
        </a>
        {% endif %}

    </div>
    <hr>
    <br>


    <!-- ########  Menu de opciones  ##########-->
  
    <div class="container">
        <a href="{% url 'proyecto' %}" class="btn btn-secondary"> Regresar </a>
           
        &nbsp
        <a href="{% url 'proyecto_actualizar' pk %}" class="btn btn-info"> Actualizar </a>
           
        &nbsp
        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#eliminarProyecto">
            Eliminar
        </button>
        
    </div>

</div>            


  <!-- Modal Agregar Fecha al Proyecto  -->
<div class="modal fade" id="FechaProyecto" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="FechaProyecto" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="FechaProyecto">Agregar Fecha para la Jornada del Proyecto</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="jornada/" method="POST">
                    {% csrf_token %}

                    {{formJornada | crispy }}
        
                    &nbsp
                    <hr>
                    <button class="btn btn-success"> Agregar </button>
                    &nbsp
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    &nbsp
        
                </form>
            </div>
        </div>
    </div>
</div>
   

  <!-- Modal Eliminar Proyecto-->
<div class="modal fade" id="eliminarProyecto" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Eliminar Proyecto</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Está seguro de Eliminar el Proyecto?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <a href="{% url 'proyecto_eliminar' pk %}" role="button" class="btn btn-danger"> Eliminar </a>
            </div>
        </div>
    </div>
</div>


   

{% endblock %}
