{% extends 'base.html' %}

{% block content %}   

{% load crispy_forms_tags %}

<br>
<br>
<div class="container">
    <div class="container bg-light card shadow-md p-5 shadow p-3 mb-5 form-layout">

        <h1 class="text-center">Detalles del Proyecto</h1>
        <h5 class="text-center">Información detallada del Proyecto</h5>
        <hr>

        {{error}}

        <form method="POST">
            {% csrf_token %}
            {{form | crispy }}

            <a href="{% url 'proyecto' %}" class="btn btn-secondary"> Regresar </a>
            &nbsp
            <button class="btn btn-info">
                Actualizar
            </button>
            &nbsp
            <a href="{% url 'proyecto_eliminar' proyectos.id %}" role="button" class="btn btn-danger"> Eliminar </a>
                        
        </form> 

    </div>
</div>            

   

{% endblock %}
