
{% extends 'base.html' %}

{% block content %}   

    
  <div class="col-10 offset-1"> 
    <br>
    <h2><strong>PROYECTOS</strong></h2>
    <hr>
    <div class="row">
      <div class="col">
        <a class="btn btn-outline-primary mx-2" href="{% url 'proyecto_crear' %}">

          Crear Nuevo Proyecto

        </a>
      </div>
      <div class="col">
        <form action="" method="POST" class="d-flex">
          {% csrf_token %}
          <input type="search" value="{{query}}" name="searchquery" class="form-control" placeholder="Buscar...">
          <button class="btn btn-success mx-2" name="search">Buscar</button>
        </form>
      </div>
    </div>
    <hr>
    <div class="table-responsive">
      <table class="table table-hover">
        <thead class="table-primary">
          <tr>
            <th scope="col">ESTATUS</th>
            <th scope="col">PROYECTO</th>
            <th scope="col">CENTRO</th>
            <th scope="col">RESPONSABLE</th>
            <th scope="col">TELEFONO</th>
            <th scope="col" class="text-center">DETALLE</th>
          </tr>
        </thead>
        <tbody>
            {% if entity %}
                {% for proyecto in entity %}
                    <tr>
                        {% if proyecto.estatus == "ACTIVO" %}
                          <td class="text-success fw-bold">{{proyecto.estatus}}</td>
                        {% else %}
                          <td class="text-danger fw-bold">{{proyecto.estatus}}</td>
                        {% endif %}
                        <td>{{proyecto.proyecto}}</td>
                        <td>{{proyecto.nombre_centro}}</td>
                        <td>{{proyecto.representante}}</td>
                        <td>{{proyecto.telefono}}</td>
                        <td class="text-center"> <a href="{% url 'proyecto_detalle' proyecto.id %}"><i class="bi bi-pencil-square"style="font-size: 1.2rem; color: blue;"></i></a> </td>
                    </tr>
                {% endfor %}
            {% endif%}
        </tbody>
      </table>
      <div>
          {% include 'paginator.html' %}
      </div>

      <a href="{% url 'exportar_proyecto' %}">Exportar Excel</a>

    </div>
  </div>
     
   
{% endblock %}
