{% extends 'base.html' %}

{% block content %}   

    
  <div class="col-10 offset-1"> 
    <br>
    <h2>PROYECTOS</h2>
    <hr>
    <a class="btn btn-outline-primary btn-sm" href="{% url 'proyecto_crear' %}">

      Crear Nuevo Proyecto

    </a>
    <hr>
    <div class="table-responsive">
      <table class="table table-hover">
        <thead class="table-primary">
          <tr>
            <th scope="col">ESTATUS</th>
            <th scope="col">PROYECTO</th>
            <th scope="col">CENTRO</th>
            <th scope="col">RESPONSABLE</th>
            <th scope="col">DETALLE</th>
          </tr>
        </thead>
        <tbody>
            {% if proyectos %}
                {% for proyecto in proyectos %}
                    <tr>
                        {% if proyecto.estatus == "ACTIVO" %}
                          <td class="text-success fw-bold">{{proyecto.estatus}}</td>
                        {% else %}
                          <td class="text-danger fw-bold">{{proyecto.estatus}}</td>
                        {% endif %}
                        <td>{{proyecto.proyecto}}</td>
                        <td>{{proyecto.nombre_centro}}</td>
                        <td>{{proyecto.representante}}</td>
                        <td> <a href="{% url 'proyecto_detalle' proyecto.id %}">Editar</a> </td>
                    </tr>
                {% endfor %}
            {% endif%}
        </tbody>
      </table>
    </div>
  </div>
     
   
{% endblock %}
