{% extends 'base.html' %}

{% block content %}   

    <h1>Detalle de Proyecto</h1>

     {{error}}

    <form method="POST">
        {% csrf_token %}
        {{form.as_p}}

        <a href="{% url 'proyecto' %}" class="btn btn-secondary"> Regresar </a>

        <button class="btn btn-info">
            Actualizar
        </button>
        
    </form> 

    <form action="{% url 'proyecto_eliminar' proyectos.id %}" method="POST">
        {% csrf_token %}

        <button class="btn btn-danger">
            Eliminar
        </button>

    </form>

   

{% endblock %}
