
{% extends 'base.html' %}

{% block content %}   

{% load crispy_forms_tags %}

    
  <div class="col-10 offset-1"> 
    <br>
    {{error}}
    <h2><strong>PROYECTOS</strong></h2>
    <hr>
    <div class="row">
      <div class="col">
          <a class="btn btn-outline-primary mx-2" href="{% url 'proyecto_crear' %}">
            Crear Nuevo Proyecto
          </a>
        &nbsp
          <a class="btn btn-outline-primary"class="dropdown-item" data-bs-toggle="modal" data-bs-target="#exp_proyecto">
            Exportar Proyecto
          </a>
        &nbsp
          <a class="btn btn-outline-primary"class="dropdown-item" data-bs-toggle="modal" data-bs-target="#exp_jornada">
            Exportar Jornada
          </a>
      </div>
      <div class="col-5">
        <form action="" method="POST" class="d-flex">
          {% csrf_token %}
          <input type="search" value="{{query}}" name="searchquery" class="form-control" placeholder="Buscar...">
          <button class="btn btn-success mx-2" name="search">Buscar</button>
        </form>
      </div>
    </div>
    <hr>
    <div class="table-responsive">
      <table class="table table-hover">
        <thead class="table-primary">
          <tr>
            <th scope="col">ESTATUS</th>
            <th scope="col">PROYECTO</th>
            <th scope="col">CENTRO</th>
            <th scope="col">RESPONSABLE</th>
            <th scope="col">TELEFONO</th>
            <th scope="col" class="text-center">DETALLE</th>
          </tr>
        </thead>
        <tbody>
            {% if entity %}
                {% for proyecto in entity %}
                    <tr>
                        {% if proyecto.estatus == "ACTIVO" %}
                          <td class="text-success fw-bold">{{proyecto.estatus}}</td>
                        {% else %}
                          <td class="text-danger fw-bold">{{proyecto.estatus}}</td>
                        {% endif %}
                        <td>{{proyecto.proyecto}}</td>
                        <td>{{proyecto.nombre_centro}}</td>
                        <td>{{proyecto.representante}}</td>
                        <td>{{proyecto.telefono}}</td>
                        <td class="text-center"> <a href="{% url 'proyecto_detalle' proyecto.id %}"><i class="bi bi-pencil-square"style="font-size: 1.2rem; color: blue;"></i></a> </td>
                    </tr>
                {% endfor %}
            {% endif%}
        </tbody>
      </table>
      <div>
          {% include 'paginator.html' %}
      </div>

    </div>
  </div>

  <!-- Modal exp_Proyecto -->
  <div class="modal fade" id="exp_proyecto" data-bs-keyboard="false" tabindex="-1" aria-labelledby="exp_beneficiariooLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exp_beneficiarioLabel">Exportar Información Completa del Proyecto </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/exportar_proyecto" method="GET">
                  {% csrf_token %}
                  <h6>{{proyect | crispy}}</h6>                
                  <dev class="d-flex justify-content-center">
                    <button class="btn btn-success mx-2">
                      Exportar
                    </button>
                  </dev>
                  
                </form>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
  </div>
  
<!-- Modal exp_Jornada -->
<div class="modal fade" id="exp_jornada" data-bs-keyboard="false" tabindex="-1" aria-labelledby="exp_jornadaLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h1 class="modal-title fs-5" id="exp_jornadaLabel">Exportar Información por Fecha de la Jornada </h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <form method="POST">
                {% csrf_token %}

                <h6>{{jornadaForm}}</h6> 

                            
                <dev class="d-flex justify-content-center">
                  <button class="btn btn-success mx-2">
                    Exportar
                  </button>
                </dev>
                
              </form>
              
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          </div>
      </div>
  </div>
</div>


   
{% endblock %}
